jana/projeto-olivia/Workflows n8n/final-olivia-smartblocks.json
{
  "name": "final-olivia-smartblocks",
  "nodes": [
    {
      "parameters": {
        "content": "## SEÇÃO A — Entrada + Validação + Respond 202 imediato\nPOST /olivia/gerar-manual | header: mdflow\nValida campos → responde 202 → continua async",
        "height": 130,
        "width": 680,
        "color": 2
      },
      "id": "sticky-a",
      "name": "📌 SEÇÃO A — Entrada + Validate + 202",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -480
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "olivia/gerar-manual",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook",
      "name": "WH-SmartBlocks",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -336
      ],
      "webhookId": "olivia-smart-blocks-v1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7bGoQhcPPZN8nCm2",
          "name": "mdflow"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Validar e extrair payload\nconst body = $input.first().json.body || $input.first().json;\n\n// Campos obrigatórios raiz\nconst rootRequired = ['request_id', 'organizacao_id', 'actor_user_id'];\nfor (const f of rootRequired) {\n  if (!body[f]) throw new Error(`Campo obrigatório ausente: ${f}`);\n}\n\nconst data = body.data || {};\n\n// Apenas blocos_ids é realmente obrigatório\nif (!Array.isArray(data.blocos_ids) || data.blocos_ids.length === 0) {\n  throw new Error('blocos_ids deve ser array não vazio');\n}\n\nreturn [{ json: {\n  request_id:          body.request_id,\n  organizacao_id:      body.organizacao_id,\n  actor_user_id:       body.actor_user_id,\n  historico_id:        body.historico_id || null,\n  processo_id:         data.processo_id        || null,\n  modelo_id:           data.modelo_id          || null,\n  versao_id:           data.versao_id          || null,\n  advogado_id:         data.advogado_id        || null,\n  tipo_peticao_id:     data.tipo_peticao_id    || null,\n  blocos_ids:          data.blocos_ids,\n  jurisprudencias_ids: Array.isArray(data.jurisprudencias_ids) ? data.jurisprudencias_ids : [],\n  instrucoes_finais:   data.instrucoes_finais  || ''\n}}];\n"
      },
      "id": "validate",
      "name": "A1-Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, action: 'webhook_triggered', historico_id: $json.historico_id, status: 'PENDENTE', message: 'Smart Blocks processando em segundo plano' }) }}",
        "options": {}
      },
      "id": "respond202",
      "name": "A-Respond202",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        -336
      ]
    },
    {
      "parameters": {
        "content": "## SEÇÃO B — Busca de Dados (paralelo via Supabase nativo)\nB1: processo + clientes + empresas + advogados\nB2: olivia_blocos_texto (google_doc_id apenas)\nB3: olivia_jurisprudencias (condicional: só se jurisprudencias_ids não vazio)\nB4: olivia_versoes → olivia_modelos_peticao (google_doc_id_origem)",
        "height": 130,
        "width": 800,
        "color": 3
      },
      "id": "sticky-b",
      "name": "📌 SEÇÃO B — Busca de Dados",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -480
      ]
    },
    {
      "parameters": {
        "url": "https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_blocos_texto",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=in.({{ $json.blocos_ids.join(\",\") }})"
            },
            {
              "name": "select",
              "value": "id,titulo,google_doc_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            }
          ]
        },
        "options": {}
      },
      "id": "b2-blocos",
      "name": "B2-BuscarBlocos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -96
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// B3-BuscarJuris — busca jurisprudências se IDs presentes\nconst validado = $('A1-Validate').first().json;\nconst ids = validado.jurisprudencias_ids || [];\n\nif (ids.length === 0) {\n  return [{ json: { jurisprudencias: [] } }];\n}\n\nconst SK = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst SUPA = 'https://qdivfairxhdihaqqypgb.supabase.co';\n\ntry {\n  const idsStr = ids.join(',');\n  const url = `${SUPA}/rest/v1/olivia_jurisprudencias?id=in.(${idsStr})&select=id,titulo,ementa,google_doc_id&limit=20`;\n  const resp = await fetch(url, {\n    headers: { 'apikey': SK, 'Authorization': 'Bearer ' + SK, 'Accept': 'application/json' }\n  });\n  if (!resp.ok) {\n    console.error('[B3] Erro ao buscar jurisprudências:', resp.status);\n    return [{ json: { jurisprudencias: [] } }];\n  }\n  const rows = await resp.json();\n  const juris = (Array.isArray(rows) ? rows : []).map(j => ({\n    id: j.id,\n    titulo: j.titulo || '',\n    ementa: j.ementa || '',\n    google_doc_id: j.google_doc_id || null\n  }));\n  console.log('[B3] Jurisprudências encontradas:', juris.length);\n  return [{ json: { jurisprudencias: juris } }];\n} catch(e) {\n  console.error('[B3] Exceção:', e.message);\n  return [{ json: { jurisprudencias: [] } }];\n}"
      },
      "id": "b3-juris",
      "name": "B3-BuscarJuris",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// C1-MontarPayloadJARBAS v5.0\n// Monta payload para JARBAS /olivia/criar-doc\n// JARBAS recebe: titulo_documento, google_folder_id, peticao_html (modelo HTML), \n//               modelo.google_doc_id (template Google Doc), blocos[].google_doc_id,\n//               secoes (alias para blocos), tags (substituições)\n\nconst validado   = ($('A1c-MergeHistorico').first() || $('A1-Validate').first() || {json:{}}).json;\nconst _proc = ($('B1-BuscarProcesso').first() || {json:[]}).json; const processo = (Array.isArray(_proc) ? (_proc[0] || {}) : _proc) || {};\nconst _adv = ($('B1b-BuscarAdvogado').first() || {json:[]}).json; const advogado = (Array.isArray(_adv) ? (_adv[0] || {}) : _adv) || {};\nconst _cli = ($('B1c-BuscarCliente').first() || {json:[]}).json; const cliente = (Array.isArray(_cli) ? (_cli[0] || {}) : _cli) || {};\nconst _emp = ($('B1d-BuscarEmpresa').first() || {json:[]}).json; const empresa = (Array.isArray(_emp) ? (_emp[0] || {}) : _emp) || {};\nconst _mdl = ($('B1e-BuscarModelo').first() || {json:[]}).json; const modeloRow = (Array.isArray(_mdl) ? (_mdl[0] || {}) : _mdl) || {};\nconst blocosData = ($('B2b-AgregaBlocos').first() || {json:{blocos:[]}}).json.blocos || [];\nconst jurisData  = $('B3-BuscarJuris').first().json.jurisprudencias || [];\n\n// Mapa de blocos preservando ordem do frontend\nconst blocoMap = {};\nfor (const b of blocosData) blocoMap[b.id] = b;\n\nconst blocos = validado.blocos_ids\n  .map((id, idx) => {\n    const b = blocoMap[id];\n    if (!b || !b.google_doc_id) return null;\n    return { ordem: idx + 1, placeholder: `{{bloco_${idx + 1}}}`, google_doc_id: b.google_doc_id };\n  })\n  .filter(Boolean);\n\nif (blocos.length === 0) {\n  // Nenhum bloco com google_doc_id — salvar erro no historico e abortar graciosamente\n  const historico_id_err = validado.historico_id;\n  if (historico_id_err) {\n    const SK = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\n    await fetch(`https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico?id=eq.${historico_id_err}`, {\n      method: 'PATCH',\n      headers: { 'apikey': SK, 'Authorization': 'Bearer ' + SK, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify({ status: 'ERRO', error_message: 'Nenhum bloco com google_doc_id encontrado. Configure os blocos com documento Google no Playbooks.', finished_at: new Date().toISOString() })\n    });\n  }\n  throw new Error('Nenhum bloco com google_doc_id encontrado');\n}\n\n// secoes = blocos (compatibilidade com GAS/JARBAS v4.2+)\nconst secoes = blocos.map(b => ({\n  ordem: b.ordem,\n  tipo: 'bloco',\n  google_doc_id: b.google_doc_id,\n  placeholder: b.placeholder\n}));\n\nconst jurisprudencias = jurisData\n  .map((j, idx) => (j.google_doc_id ? { placeholder: `{{jurisprudencia_${idx + 1}}}`, google_doc_id: j.google_doc_id, titulo: j.titulo || '' } : null))\n  .filter(Boolean);\n\nconst modeloGoogleDocId = modeloRow.google_doc_id_origem || null;\n// conteudo_template do modelo (HTML) — usado como peticao_html base pelo JARBAS\nconst conteudoTemplate = modeloRow.conteudo_template || '';\n\n// Dados advogado\nconst metaAdv = advogado.meta || {};\nconst fonteLetra = metaAdv.fonte_letra || 'Arial';\nconst dadosBancarios = metaAdv.dados_bancarios || '';\nconst advCidade = metaAdv.cidade || 'Canoas';\nconst advRodape = advogado.cabecalho_escritorio || '';\n\nconst oabCodigo = advogado.oab || '';\nconst oabNumero = advogado.oab_uf\n  ? oabCodigo.replace(new RegExp('^' + advogado.oab_uf), '').trim()\n  : oabCodigo;\nconst oabFormatado = advogado.oab_uf\n  ? `OAB/${advogado.oab_uf} ${oabNumero}`\n  : `OAB/${oabCodigo}`;\n\nconst sexo = cliente.sexo || '';\nconst isMasc = sexo === 'Masculino' || sexo === 'M';\nconst qualificacaoSexo    = isMasc ? 'já qualificado'  : 'já qualificada';\nconst sexoNacionalidade   = isMasc ? 'brasileiro'      : 'brasileira';\nconst sexoInscrito        = isMasc ? 'inscrito'        : 'inscrita';\nconst sexoPortador        = isMasc ? 'portador'        : 'portadora';\nconst sexoDomiciliado     = isMasc ? 'domiciliado'     : 'domiciliada';\n\nconst clienteEndereco = [\n  cliente.endereco_logradouro || '',\n  cliente.endereco_numero ? `nº ${cliente.endereco_numero}` : '',\n  [cliente.cidade, cliente.endereco_uf].filter(Boolean).join('/'),\n  cliente.cep ? `CEP ${cliente.cep}` : ''\n].filter(Boolean).join(', ');\n\nconst mapaEstados = { RS: 'Rio Grande do Sul', SP: 'São Paulo', SC: 'Santa Catarina', PR: 'Paraná', MG: 'Minas Gerais', RJ: 'Rio de Janeiro' };\nconst uf = (cliente.endereco_uf || processo.estado_id || '').toUpperCase();\nconst estadoExtenso = mapaEstados[uf] || uf;\n\nconst dataHoje = new Date().toLocaleDateString('pt-BR', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'America/Sao_Paulo' });\nconst dataRestricao = processo.restricao_data ? new Date(processo.restricao_data + 'T12:00:00').toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: '2-digit' }) : '';\n\nconst restricaoValorNum = parseFloat(String(processo.restricao_valor || 0));\nconst valorCausaNum = 15000 + restricaoValorNum;\nconst valorCausaFmt = valorCausaNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\nconst restricaoValorFmt = restricaoValorNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\n\nconst enderecamentoJson = processo.enderecamento || {};\nconst enderecamentoVara = enderecamentoJson.vara_civel || '';\n\n// campos_substituicao — compatível com GAS e JARBAS (JARBAS também aceita como 'tags')\nconst camposSubstituicao = {\n  '{{advogado_nome}}':               (advogado.nome || '').toUpperCase(),\n  '{{advogado_oab_codigo}}':         oabCodigo,\n  '{{advogado_oab}}':                oabFormatado,\n  '{{advogado_enderecamento}}':      advogado.cabecalho_escritorio || '',\n  '{{advogado_rodape}}':             advRodape,\n  '{{advogado_email}}':              advogado.email || '',\n  '{{advogado_cidade}}':             advCidade,\n  '{{dados_bancarios}}':             dadosBancarios,\n  '{{parte_autora}}':                (cliente.nome || '').toUpperCase(),\n  '{{cliente_nome}}':                cliente.nome  || '',\n  '{{empresa_re}}':                  processo.reu_nome || empresa.nome || '',\n  '{{reu_nome}}':                    processo.reu_nome || empresa.nome || '',\n  '{{numero_processo}}':             processo.numero_cnj || processo.numero_processo || '',\n  '{{numero_cnj}}':                  processo.numero_cnj || '',\n  '{{valor_restricao}}':             restricaoValorFmt,\n  '{{contrato_restricao}}':          processo.restricao_contrato || '',\n  '{{orgao_restritivo}}':            processo.restricao_orgao_nome || '',\n  '{{data_restricao}}':              dataRestricao,\n  '{{cliente_cpf}}':                 cliente.cpf_cnpj || '',\n  '{{cliente_rg}}':                  cliente.rg       || '',\n  '{{cliente_email}}':               cliente.email    || '',\n  '{{cliente_profissao}}':           cliente.profissao || '',\n  '{{cliente_endereco}}':            clienteEndereco,\n  '{{qualificacao_sexo}}':           qualificacaoSexo,\n  '{{cliente_sexo_nacionalidade}}':  sexoNacionalidade,\n  '{{cliente_sexo_inscrito}}':       sexoInscrito,\n  '{{cliente_sexo_portador}}':       sexoPortador,\n  '{{cliente_sexo_domiciliado}}':    sexoDomiciliado,\n  '{{data_hoje}}':                   dataHoje,\n  '{{estado_extenso}}':              estadoExtenso,\n  '{{valor_causa}}':                 valorCausaFmt,\n  '{{empresa_endereco}}':            '',\n  '{{categoria_empresa}}':           '',\n  '{{enderecamento_vara}}':          enderecamentoVara,\n  '{{cabecalho_escritorio}}':        advogado.cabecalho_escritorio || '',\n};\n\nconst nomeArquivo = `Petição - ${processo.numero_cnj || ''} - ${cliente.nome || ''}`.trim();\n\n// JARBAS payload — usa conteudo_template como peticao_html base\n// e insere blocos via google_doc_id\nconst gasPayload = {\n  titulo_documento: nomeArquivo,\n  google_folder_id: '1JTbKJqbmPzRTLlqRYZEZ5pNY-w8r1ALZ',\n  // peticao_html: conteudo_template do modelo (JARBAS usa como template base)\n  peticao_html: conteudoTemplate || '<p>Petição gerada via Smart Blocks</p>',\n  // modelo: referência ao Google Doc do template (JARBAS pode substituir conteúdo)\n  modelo: modeloGoogleDocId ? { google_doc_id: modeloGoogleDocId } : null,\n  // blocos: cada smart block com seu google_doc_id\n  blocos,\n  secoes,\n  jurisprudencias,\n  // tags = campos_substituicao (JARBAS usa 'tags' internamente)\n  tags: camposSubstituicao,\n  campos_substituicao: camposSubstituicao,\n  configuracoes: {\n    nome_arquivo: nomeArquivo,\n    google_folder_id: '1JTbKJqbmPzRTLlqRYZEZ5pNY-w8r1ALZ',\n    fallback_to_root: true,\n    debug: false\n  },\n  config: {\n    fonte:                  fonteLetra,\n    tamanho_corpo:          12,\n    cabecalho_escritorio:   advogado.cabecalho_escritorio || '',\n    aplicar_fonte_global:   true\n  }\n};\n\nreturn [{ json: {\n  historico_id:   validado.historico_id,\n  organizacao_id: validado.organizacao_id,\n  gasPayload,\n  debug: {\n    blocos_count:       blocos.length,\n    secoes_count:       secoes.length,\n    juris_count:        jurisprudencias.length,\n    modelo_google_doc:  modeloGoogleDocId,\n    conteudo_template_len: conteudoTemplate.length,\n    advogado_nome:      advogado.nome,\n    cliente_nome:       cliente.nome,\n    processo_cnj:       processo.numero_cnj\n  }\n}}];"
      },
      "id": "c1-montar",
      "name": "C1-MontarPayloadGAS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jarbas.jarbas-mdlab.com/olivia/criar-doc",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "mdflow",
              "value": "MdL1501@"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify($json.gasPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "c2-gas",
      "name": "C2-ChamarJARBAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3-check",
      "name": "C3-CheckGAS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        1728,
        -160
      ]
    },
    {
      "parameters": {
        "content": "## SEÇÃO D — Salvar no olivia_historico\nD1: PATCH → SUCESSO + google_doc_url + google_doc_id\nD2: PATCH → ERRO (GAS retornou success=false)",
        "height": 130,
        "width": 600,
        "color": 4
      },
      "id": "sticky-d",
      "name": "📌 SEÇÃO D — Salvar Resultado",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1888,
        -480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('A1-Validate').first().json.historico_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ status: 'SUCESSO', google_doc_url: $json.google_doc_url || $json.url || null, google_doc_id: $json.google_doc_id || null, finished_at: new Date().toISOString(), modo: 'SMART_BLOCKS', error_message: null }) }}",
        "options": {}
      },
      "id": "d1-sucesso",
      "name": "D1-SalvarSucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        -256
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('A1-Validate').first().json.historico_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({ status: 'ERRO', error_message: ($json.error_message || $json.message || $json.error || 'GAS retornou erro'), finished_at: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "d2-erro",
      "name": "D2-SalvarErroGAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1968,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## SEÇÃO E — Error Handler Global\nCaptura qualquer exceção não tratada no fluxo\nPATCH olivia_historico → ERRO se historico_id disponível",
        "height": 130,
        "width": 800,
        "color": 6
      },
      "id": "sticky-e",
      "name": "📌 SEÇÃO E — Error Handler Global",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        208
      ]
    },
    {
      "parameters": {},
      "id": "err-trigger",
      "name": "E-ErrorTrigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handler global — atualiza olivia_historico com status ERRO\nconst errData = $input.first().json;\nconst lastError = errData.error || {};\nconst nodeName = lastError.node?.name || 'desconhecido';\nconst errorMsg = lastError.message || 'Erro desconhecido';\n\nlet historico_id = null;\ntry { historico_id = $('A1-Validate').first().json.historico_id; } catch(e) {}\n\nif (historico_id) {\n  const url = 'https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico?id=eq.' + historico_id;\n  const body = JSON.stringify({ status: 'ERRO', error_message: '[' + nodeName + ']: ' + errorMsg, finished_at: new Date().toISOString() });\n  try {\n    const res = await fetch(url, {\n      method: 'PATCH',\n      headers: {\n        'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY',\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY',\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body\n    });\n    console.log('[E1] PATCH historico', historico_id, 'HTTP:', res.status);\n  } catch(e2) {\n    console.error('[E1] Falha fetch:', e2.message);\n  }\n}\n\nreturn [{ json: { ok: false, error: errorMsg, node: nodeName, historico_id } }];"
      },
      "id": "err-handler",
      "name": "E1-SalvarErroGlobal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Agrega todos os blocos num único item\nconst blocos = $input.all().map(i => i.json);\nreturn [{ json: { blocos } }];"
      },
      "id": "b2b-agregador",
      "name": "B2b-AgregaBlocos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -96
      ]
    },
    {
      "parameters": {
        "jsCode": "// B1-BuscarProcesso: busca dados do processo se processo_id estiver presente\n// Input vem de A-Respond202 que herda todos os campos do A1-Validate\nconst validado = $input.first().json;\nconst processo_id = validado.processo_id || null;\n\n// Se não tem processo_id, retorna objeto vazio sem erro\nif (!processo_id) {\n  return [{ json: {} }];\n}\n\nconst SK = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst SUPA = 'https://qdivfairxhdihaqqypgb.supabase.co';\n\nconst fields = 'id,numero_processo,numero_cnj,organizacao_id,cliente_id,empresa_id,advogado_id,estado_id,reu_nome,restricao_valor,restricao_data,restricao_contrato,restricao_orgao_nome,enderecamento';\nconst url = `${SUPA}/rest/v1/processos?id=eq.${processo_id}&select=${fields}&limit=1`;\n\ntry {\n  const resp = await fetch(url, {\n    headers: {\n      'apikey': SK,\n      'Authorization': 'Bearer ' + SK,\n      'Accept': 'application/json'\n    }\n  });\n\n  if (!resp.ok) {\n    return [{ json: {} }];\n  }\n\n  const data = await resp.json();\n  return [{ json: Array.isArray(data) && data.length > 0 ? data[0] : {} }];\n} catch(e) {\n  return [{ json: {} }];\n}\n"
      },
      "id": "b1-processo",
      "name": "B1-BuscarProcesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 4,
      "position": [
        704,
        -304
      ]
    },
    {
      "parameters": {
        "url": "https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/advogados",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('A1-Validate').first().json.advogado_id }}"
            },
            {
              "name": "select",
              "value": "id,nome,oab,oab_uf,cabecalho_escritorio,meta,email"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b-advogado",
      "name": "B1b-BuscarAdvogado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        944,
        -400
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/clientes",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.cliente_id }}"
            },
            {
              "name": "select",
              "value": "id,nome,cpf_cnpj,rg,sexo,email,profissao,endereco_logradouro,endereco_numero,cidade,endereco_uf,cep"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            }
          ]
        },
        "options": {}
      },
      "id": "b1c-cliente",
      "name": "B1c-BuscarCliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        944,
        -240
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/empresas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $json.empresa_id }}"
            },
            {
              "name": "select",
              "value": "id,nome,cnpj,razao_social"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            }
          ]
        },
        "options": {}
      },
      "id": "b1d-empresa",
      "name": "B1d-BuscarEmpresa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        944,
        -80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_modelos_peticao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('A1-Validate').first().json.versao_id }}"
            },
            {
              "name": "select",
              "value": "id,nome,tipo_peticao_id,google_doc_id_origem,conteudo_template,instrucoes_ia,modelo_grupo_id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"
            }
          ]
        },
        "options": {}
      },
      "id": "b1e-modelo",
      "name": "B1e-BuscarModelo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        944,
        80
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "b-merge-all",
      "name": "B-MergeAll",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1104,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "// A1b-CriarHistorico: reutiliza historico_id se veio no payload\nconst validado = $('A1-Validate').first().json;\n\nif (validado.historico_id) {\n  return [{ json: { id: validado.historico_id, _skipped: true } }];\n}\n\nconst SK = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst SUPA = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst resp = await fetch(SUPA + '/rest/v1/olivia_historico', {\n  method: 'POST',\n  headers: { 'apikey': SK, 'Authorization': 'Bearer ' + SK, 'Content-Type': 'application/json', 'Prefer': 'return=representation' },\n  body: JSON.stringify({ organizacao_id: validado.organizacao_id, processo_id: validado.processo_id || null, modo: 'SMART_BLOCKS', status: 'PENDENTE', request_id: validado.request_id, motor: 'smart-blocks' }),\n});\nconst data = await resp.json();\nconst row = Array.isArray(data) ? data[0] : data;\nreturn [{ json: { id: row && row.id ? row.id : null } }];"
      },
      "id": "a1b-criar-historico",
      "name": "A1b-CriarHistorico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -336
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge historico_id from POST response into A1 validated data\nconst validado = $('A1-Validate').first().json;\n\n// A1b POST returns the created row (or error body)\nconst postResult = $input.first().json;\n// If it's an array (Supabase returns representation), get first element\nconst row = Array.isArray(postResult) ? postResult[0] : postResult;\nconst historico_id = validado.historico_id || row?.id || null;\n\nif (historico_id) {\n  console.log('[A1c] historico_id: ' + historico_id);\n} else {\n  console.log('[A1c] WARNING: historico_id still null. POST response: ' + JSON.stringify(postResult).substring(0,200));\n}\n\nreturn [{ json: {\n  ...validado,\n  historico_id\n}}];"
      },
      "id": "a1c-merge-historico",
      "name": "A1c-MergeHistorico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -336
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WH-SmartBlocks": {
      "main": [
        [
          {
            "node": "A1-Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A1-Validate": {
      "main": [
        [
          {
            "node": "A1b-CriarHistorico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A-Respond202": {
      "main": [
        [
          {
            "node": "B1-BuscarProcesso",
            "type": "main",
            "index": 0
          },
          {
            "node": "B2-BuscarBlocos",
            "type": "main",
            "index": 0
          },
          {
            "node": "B3-BuscarJuris",
            "type": "main",
            "index": 0
          },
          {
            "node": "B1e-BuscarModelo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B1-BuscarProcesso": {
      "main": [
        [
          {
            "node": "B1b-BuscarAdvogado",
            "type": "main",
            "index": 0
          },
          {
            "node": "B1c-BuscarCliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "B1d-BuscarEmpresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B1b-BuscarAdvogado": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B1c-BuscarCliente": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "B1d-BuscarEmpresa": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "B1e-BuscarModelo": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "B2-BuscarBlocos": {
      "main": [
        [
          {
            "node": "B2b-AgregaBlocos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B3-BuscarJuris": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "C1-MontarPayloadGAS": {
      "main": [
        [
          {
            "node": "C2-ChamarJARBAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C3-CheckGAS": {
      "main": [
        [
          {
            "node": "D1-SalvarSucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "D2-SalvarErroGAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-ErrorTrigger": {
      "main": [
        [
          {
            "node": "E1-SalvarErroGlobal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "B2b-AgregaBlocos": {
      "main": [
        [
          {
            "node": "B-MergeAll",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "B-MergeAll": {
      "main": [
        [
          {
            "node": "C1-MontarPayloadGAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "C2-ChamarJARBAS": {
      "main": [
        [
          {
            "node": "C3-CheckGAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A1b-CriarHistorico": {
      "main": [
        [
          {
            "node": "A1c-MergeHistorico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A1c-MergeHistorico": {
      "main": [
        [
          {
            "node": "A-Respond202",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b9b601d9-9e24-4f5b-94d7-8004757e1fd8",
  "meta": {
    "instanceId": "7b327af6f4663e4f9f50fb499be1f4af58352e87a6c82f22d8f5aeff62cfe702"
  },
  "id": "hyGajjic2kZBVGvW",
  "tags": []
}