jana/smartblocks-review/workflow_atual.json
{"updatedAt":"2026-03-16T23:54:29.194Z","createdAt":"2026-03-16T21:50:26.685Z","id":"hyGajjic2kZBVGvW","name":"final-olivia-smartblocks","description":null,"active":true,"isArchived":false,"nodes":[{"id":"sticky-a","name":"📌 SEÇÃO A — Entrada + Validate + 202","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-480],"parameters":{"color":2,"width":680,"height":130,"content":"## SEÇÃO A — Entrada + Validação + Respond 202 imediato\nPOST /olivia/gerar-manual | header: mdflow\nValida campos → responde 202 → continua async"}},{"id":"webhook","name":"WH-SmartBlocks","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-340],"webhookId":"olivia-smart-blocks-v1","parameters":{"httpMethod":"POST","path":"olivia/gerar-manual","responseMode":"responseNode","options":{"allowedOrigins":"*"},"authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"7bGoQhcPPZN8nCm2","name":"mdflow"}}},{"id":"validate","name":"A1-Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-340],"parameters":{"jsCode":"// Validar e extrair payload\nconst body = $input.first().json.body || $input.first().json;\n\n// Campos obrigatórios raiz\nconst rootRequired = ['request_id', 'organizacao_id', 'actor_user_id', 'historico_id'];\nfor (const f of rootRequired) {\n  if (!body[f]) throw new Error(`Campo obrigatório ausente: ${f}`);\n}\n\n// Campos obrigatórios em data\nconst data = body.data || {};\nconst dataRequired = ['processo_id', 'modelo_id', 'versao_id', 'advogado_id', 'blocos_ids'];\nfor (const f of dataRequired) {\n  if (!data[f]) throw new Error(`Campo obrigatório ausente em data: ${f}`);\n}\n\nif (!Array.isArray(data.blocos_ids) || data.blocos_ids.length === 0) {\n  throw new Error('blocos_ids deve ser array não vazio');\n}\n\nreturn [{ json: {\n  request_id:         body.request_id,\n  organizacao_id:     body.organizacao_id,\n  actor_user_id:      body.actor_user_id,\n  historico_id:       body.historico_id,\n  processo_id:        data.processo_id,\n  modelo_id:          data.modelo_id,\n  versao_id:          data.versao_id,\n  advogado_id:        data.advogado_id,\n  tipo_peticao_id:    data.tipo_peticao_id    || null,\n  blocos_ids:         data.blocos_ids,\n  jurisprudencias_ids: Array.isArray(data.jurisprudencias_ids) ? data.jurisprudencias_ids : [],\n  instrucoes_finais:  data.instrucoes_finais  || ''\n}}];"}},{"id":"respond202","name":"A-Respond202","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,-340],"parameters":{"respondWith":"json","responseCode":202,"responseBody":"={{ JSON.stringify({ success: true, action: 'webhook_triggered', historico_id: $json.historico_id, status: 'PROCESSANDO', message: 'Smart Blocks processando em segundo plano' }) }}"}},{"id":"sticky-b","name":"📌 SEÇÃO B — Busca de Dados","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-480],"parameters":{"color":3,"width":800,"height":130,"content":"## SEÇÃO B — Busca de Dados (paralelo via Supabase nativo)\nB1: processo + clientes + empresas + advogados\nB2: olivia_blocos_texto (google_doc_id apenas)\nB3: olivia_jurisprudencias (condicional: só se jurisprudencias_ids não vazio)\nB4: olivia_versoes → olivia_modelos_peticao (google_doc_id_origem)"}},{"id":"b2-blocos","name":"B2-BuscarBlocos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,-100],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_blocos_texto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=in.({{ $json.blocos_ids.join(\",\") }})"},{"name":"select","value":"id,titulo,google_doc_id"}]},"options":{}}},{"id":"b3-juris","name":"B3-BuscarJuris","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,60],"parameters":{"jsCode":"// Buscar jurisprudências — só se IDs não vazio\nconst validado = $('A1-Validate').first().json;\nconst ids = validado.jurisprudencias_ids || [];\nif (ids.length === 0) {\n  return [{ json: { jurisprudencias: [] } }];\n}\n// Se tem IDs, montar como array vazio por ora (HTTP Request separado chamaria, mas por simplificação retorna vazio se não há juris)\n// Em produção, jurisprudencias_ids vem preenchido raramente\nreturn [{ json: { jurisprudencias: [] } }];"}},{"id":"c1-montar","name":"C1-MontarPayloadGAS","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,-160],"parameters":{"jsCode":"// Montar payload completo para GAS v4.0\n// Inspirado no Edit Fields + Preparar para script do legado NKeskbity7PCCGPH\n\nconst validado   = ($('A1-Validate').first() || {json:{}}).json;\nconst processo = $('B1-BuscarProcesso').first().json || {};\nconst advogado = $('B1b-BuscarAdvogado').first().json || {};\nconst _cli = $('B1c-BuscarCliente').first().json; const cliente = (Array.isArray(_cli) ? (_cli[0] || {}) : (_cli || {}));\nconst _emp = $('B1d-BuscarEmpresa').first().json; const empresa = (Array.isArray(_emp) ? (_emp[0] || {}) : (_emp || {}));\nconst _mdl = $('B1e-BuscarModelo').first().json; const modeloRow = (Array.isArray(_mdl) ? (_mdl[0] || {}) : (_mdl || {}));\nconst blocosData = ($('B2b-AgregaBlocos').first() || {json:{blocos:[]}}).json.blocos || [];\nconst jurisData  = $('B3-BuscarJuris').first().json.jurisprudencias || [];\n\n// ── Montar mapa de blocos (preserva ordem do frontend)\nconst blocoMap = {};\nfor (const b of blocosData) blocoMap[b.id] = b;\n\nconst blocos = validado.blocos_ids\n  .map((id, idx) => {\n    const b = blocoMap[id];\n    if (!b || !b.google_doc_id) return null;\n    return { ordem: idx + 1, placeholder: `{{bloco_${idx + 1}}}`, google_doc_id: b.google_doc_id };\n  })\n  .filter(Boolean);\n\nif (blocos.length === 0) throw new Error('Nenhum bloco com google_doc_id encontrado');\n\n// ── Jurisprudências\nconst jurisprudencias = jurisData\n  .map((j, idx) => (j.google_doc_id ? { placeholder: `{{jurisprudencia_${idx + 1}}}`, google_doc_id: j.google_doc_id, titulo: j.titulo || '' } : null))\n  .filter(Boolean);\n\n// ── Modelo google_doc_id\nconst modeloGoogleDocId = modeloRow.google_doc_id_origem || null;\n\n// ── Dados advogado\nconst metaAdv = advogado.meta || {};\nconst fonteLetra = metaAdv.fonte_letra || 'Arial';\nconst dadosBancarios = metaAdv.dados_bancarios || '';\nconst advCidade = metaAdv.cidade || 'Canoas';\nconst advRodape = advogado.cabecalho_escritorio || '';\nconst oabCodigo = [advogado.oab_uf, advogado.oab].filter(Boolean).join('');\nconst oabFormatado = [advogado.oab_uf, advogado.oab].filter(Boolean).join('/');\n\n// ── Dados cliente — sexo\nconst sexo = cliente.sexo || '';\nconst isMasc = sexo === 'Masculino' || sexo === 'M';\nconst qualificacaoSexo    = isMasc ? 'ja qualificado'  : 'ja qualificada';\nconst sexoNacionalidade   = isMasc ? 'brasileiro'      : 'brasileira';\nconst sexoInscrito        = isMasc ? 'inscrito'        : 'inscrita';\nconst sexoPortador        = isMasc ? 'portador'        : 'portadora';\nconst sexoDomiciliado     = isMasc ? 'domiciliado'     : 'domiciliada';\n\n// ── Endereço cliente\nconst clienteEndereco = [\n  cliente.endereco_logradouro || '',\n  cliente.endereco_numero ? `nº ${cliente.endereco_numero}` : '',\n  [cliente.cidade, cliente.endereco_uf].filter(Boolean).join('/'),\n  cliente.cep ? `CEP ${cliente.cep}` : ''\n].filter(Boolean).join(', ');\n\n// ── Estado extenso\nconst mapaEstados = { RS: 'Rio Grande do Sul', SP: 'Sao Paulo', SC: 'Santa Catarina', PR: 'Parana', MG: 'Minas Gerais', RJ: 'Rio de Janeiro' };\nconst uf = (cliente.endereco_uf || processo.estado_id || '').toUpperCase();\nconst estadoExtenso = mapaEstados[uf] || uf;\n\n// ── Datas\nconst dataHoje = new Date().toLocaleDateString('pt-BR', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'America/Sao_Paulo' });\nconst dataRestricao = processo.restricao_data ? new Date(processo.restricao_data + 'T12:00:00').toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: '2-digit' }) : '';\n\n// ── Valor causa: 15000 + restricao_valor (lógica legado)\nconst restricaoValorNum = parseFloat(String(processo.restricao_valor || 0));\nconst valorCausaNum = 15000 + restricaoValorNum;\nconst valorCausaFmt = valorCausaNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\nconst restricaoValorFmt = restricaoValorNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\n\n// ── Enderecamento vara\nconst enderecamentoJson = processo.enderecamento || {};\nconst enderecamentoVara = enderecamentoJson.vara_civel || '';\n\n// ── Tags de substituição (compatível com o legado)\nconst camposSubstituicao = {\n  '{{advogado_nome}}':               (advogado.nome || '').toUpperCase(),\n  '{{advogado_oab_codigo}}':         oabCodigo,\n  '{{advogado_oab}}':                'OAB/' + oabFormatado,\n  '{{advogado_enderecamento}}':      advogado.cabecalho_escritorio || '',\n  '{{advogado_rodape}}':             advRodape,\n  '{{advogado_email}}':              advogado.email || '',\n  '{{advogado_cidade}}':             advCidade,\n  '{{dados_bancarios}}':             dadosBancarios,\n  '{{parte_autora}}':                (cliente.nome || '').toUpperCase(),\n  '{{cliente_nome}}':                cliente.nome  || '',\n  '{{empresa_re}}':                  processo.reu_nome || empresa.nome || '',\n  '{{reu_nome}}':                    processo.reu_nome || empresa.nome || '',\n  '{{numero_processo}}':             processo.numero_cnj || processo.numero_processo || '',\n  '{{numero_cnj}}':                  processo.numero_cnj || '',\n  '{{valor_restricao}}':             restricaoValorFmt,\n  '{{contrato_restricao}}':          processo.restricao_contrato || '',\n  '{{orgao_restritivo}}':            processo.restricao_orgao_nome || '',\n  '{{data_restricao}}':              dataRestricao,\n  '{{cliente_cpf}}':                 cliente.cpf_cnpj || '',\n  '{{cliente_rg}}':                  cliente.rg       || '',\n  '{{cliente_email}}':               cliente.email    || '',\n  '{{cliente_profissao}}':           cliente.profissao || '',\n  '{{cliente_endereco}}':            clienteEndereco,\n  '{{qualificacao_sexo}}':           qualificacaoSexo,\n  '{{cliente_sexo_nacionalidade}}':  sexoNacionalidade,\n  '{{cliente_sexo_inscrito}}':       sexoInscrito,\n  '{{cliente_sexo_portador}}':       sexoPortador,\n  '{{cliente_sexo_domiciliado}}':    sexoDomiciliado,\n  '{{data_hoje}}':                   dataHoje,\n  '{{estado_extenso}}':              estadoExtenso,\n  '{{valor_causa}}':                 valorCausaFmt,\n  '{{empresa_endereco}}':            '',\n  '{{categoria_empresa}}':           '',\n  '{{enderecamento_vara}}':          enderecamentoVara,\n  '{{cabecalho_escritorio}}':        advogado.cabecalho_escritorio || '',\n};\n\nconst nomeArquivo = ('Peticao - ' + (processo.numero_cnj || '') + ' - ' + (cliente.nome || '')).trim() || 'Peticao';\n\n// ── Payload GAS v4.0\nconst gasPayload = {\n  titulo_documento: nomeArquivo,\n  processo: { numero: processo.numero_cnj || validado.processo_id },\n  modelo:   modeloGoogleDocId ? { google_doc_id: modeloGoogleDocId } : null,\n  blocos,\n  jurisprudencias,\n  campos_substituicao: camposSubstituicao,\n  configuracoes: {\n    nome_arquivo: nomeArquivo,\n    titulo_documento: nomeArquivo,\n    pasta_destino_id: '1JTbKJqbmPzRTLlqRYZEZ5pNY-w8r1ALZ',\n    fallback_to_root: true,\n    debug: false\n  },\n  config: {\n    fonte:                  fonteLetra,\n    tamanho_corpo:          12,\n    cabecalho_escritorio:   advogado.cabecalho_escritorio || '',\n    aplicar_fonte_global:   true\n  }\n};\n\nreturn [{ json: {\n  historico_id:   validado.historico_id,\n  organizacao_id: validado.organizacao_id,\n  gasPayload,\n  gasPayloadStr: JSON.stringify(gasPayload),\n  debug: {\n    blocos_count:       blocos.length,\n    juris_count:        jurisprudencias.length,\n    modelo_google_doc:  modeloGoogleDocId,\n    advogado_nome:      advogado.nome,\n    cliente_nome:       cliente.nome,\n    processo_cnj:       processo.numero_cnj\n  }\n}}];","mode":"runOnceForAllItems"}},{"id":"c2-gas","name":"C2-ChamarGAS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-160],"parameters":{"method":"POST","url":"https://script.google.com/a/macros/perinottipazadvogados.com/s/AKfycbzO1wSgI-4vg3rTzId92DS08VGuImXQEwhZlW6miPwpNzT-AuMtkXJpXW-a7ozyjv6PLw/exec","sendBody":true,"contentType":"json","body":"={{ $json.gasPayloadStr }}","options":{"timeout":60000,"response":{"response":{"neverError":true}}},"specifyBody":"string","bodyContentType":"raw"}},{"id":"c3-check","name":"C3-CheckGAS","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1720,-160],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"success-check","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"sticky-d","name":"📌 SEÇÃO D — Salvar Resultado","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,-480],"parameters":{"color":4,"width":600,"height":130,"content":"## SEÇÃO D — Salvar no olivia_historico\nD1: PATCH → SUCESSO + google_doc_url + google_doc_id\nD2: PATCH → ERRO (GAS retornou success=false)"}},{"id":"d1-sucesso","name":"D1-SalvarSucesso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-260],"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.historico_id }}"}]},"sendBody":true,"contentType":"json","options":{},"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"status","value":"SUCESSO"},{"name":"google_doc_url","value":"={{ $json.url || $json.google_doc_url || null }}"},{"name":"google_doc_id","value":"={{ $json.google_doc_id || null }}"},{"name":"finished_at","value":"={{ new Date().toISOString() }}"},{"name":"modo","value":"SMART_BLOCKS"}]}}},{"id":"d2-erro","name":"D2-SalvarErroGAS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-60],"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.historico_id }}"}]},"sendBody":true,"contentType":"json","options":{},"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"status","value":"ERRO"},{"name":"error_message","value":"={{ $json.error_message || $json.message || $json.error || 'GAS retornou erro' }}"},{"name":"finished_at","value":"={{ new Date().toISOString() }}"}]}}},{"id":"sticky-e","name":"📌 SEÇÃO E — Error Handler Global","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,200],"parameters":{"color":6,"width":800,"height":130,"content":"## SEÇÃO E — Error Handler Global\nCaptura qualquer exceção não tratada no fluxo\nPATCH olivia_historico → ERRO se historico_id disponível"}},{"id":"err-trigger","name":"E-ErrorTrigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,300]},{"id":"err-handler","name":"E1-SalvarErroGlobal","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,300],"parameters":{"jsCode":"// E1-SalvarErroGlobal v2 — salva status ERRO no Supabase\nconst SUPABASE_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\n\nconst errData  = $input.first().json;\nconst exec     = errData.execution || {};\nconst lastErr  = exec.error || errData.error || {};\nconst nodeName = lastErr.node?.name || exec.lastNodeExecuted || 'desconhecido';\nconst errorMsg = lastErr.message || 'Erro desconhecido';\n\nconst result = { ok: false, error: errorMsg, node: nodeName };\n\n// Tentar pegar historico_id do contexto\nlet historicoId = null;\ntry {\n  const a1 = $('A1-Validate').first().json;\n  historicoId = a1.historico_id || null;\n} catch(e) {}\n\nresult.historico_id = historicoId;\n\n// Atualizar olivia_historico com status ERRO\nif (historicoId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/olivia_historico?id=eq.${historicoId}`,\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'ERRO',\n        error_message: `[${nodeName}] ${errorMsg}`,\n        finished_at: new Date().toISOString()\n      })\n    });\n    result.supabase_updated = true;\n  } catch(patchErr) {\n    result.supabase_error = patchErr.message;\n  }\n}\n\nreturn [{ json: result }];"}},{"id":"b2b-agregador","name":"B2b-AgregaBlocos","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,-100],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Agrega todos os blocos num único item\nconst blocos = $input.all().map(i => i.json);\nreturn [{ json: { blocos } }];"}},{"id":"b1-processo","name":"B1-BuscarProcesso","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,-300],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.processo_id }}"},{"name":"select","value":"id,numero_processo,numero_cnj,organizacao_id,cliente_id,empresa_id,advogado_id,estado_id,restricao_data,restricao_valor,restricao_contrato,restricao_orgao_nome,reu_nome,enderecamento"}]},"options":{}}},{"id":"b1b-advogado","name":"B1b-BuscarAdvogado","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-400],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/advogados","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.advogado_id }}"},{"name":"select","value":"id,nome,oab,oab_uf,cabecalho_escritorio,meta,email"}]},"options":{}}},{"id":"b1c-cliente","name":"B1c-BuscarCliente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-240],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/clientes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('B1-BuscarProcesso').first().json.cliente_id }}"},{"name":"select","value":"id,nome,cpf_cnpj,rg,sexo,email,profissao,endereco_logradouro,endereco_numero,cidade,endereco_uf,cep"}]},"options":{}}},{"id":"b1d-empresa","name":"B1d-BuscarEmpresa","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-80],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/empresas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('B1-BuscarProcesso').first().json.empresa_id }}"},{"name":"select","value":"id,nome,cnpj,razao_social"}]},"options":{}}},{"id":"b1e-modelo","name":"B1e-BuscarModelo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,80],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_modelos_peticao","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.versao_id }}"},{"name":"select","value":"id,nome,tipo_peticao_id,google_doc_id_origem,conteudo_template,instrucoes_ia,modelo_grupo_id"}]},"options":{}}},{"id":"b-merge-all","name":"B-MergeAll","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,-160],"parameters":{"mode":"append","numberOfInputs":6}}],"connections":{"WH-SmartBlocks":{"main":[[{"node":"A1-Validate","type":"main","index":0}]]},"A1-Validate":{"main":[[{"node":"A-Respond202","type":"main","index":0}]]},"A-Respond202":{"main":[[{"node":"B1-BuscarProcesso","type":"main","index":0},{"node":"B2-BuscarBlocos","type":"main","index":0},{"node":"B3-BuscarJuris","type":"main","index":0},{"node":"B1e-BuscarModelo","type":"main","index":0}]]},"B1-BuscarProcesso":{"main":[[{"node":"B1b-BuscarAdvogado","type":"main","index":0},{"node":"B1c-BuscarCliente","type":"main","index":0},{"node":"B1d-BuscarEmpresa","type":"main","index":0}]]},"B1b-BuscarAdvogado":{"main":[[{"node":"B-MergeAll","type":"main","index":0}]]},"B1c-BuscarCliente":{"main":[[{"node":"B-MergeAll","type":"main","index":1}]]},"B1d-BuscarEmpresa":{"main":[[{"node":"B-MergeAll","type":"main","index":2}]]},"B1e-BuscarModelo":{"main":[[{"node":"B-MergeAll","type":"main","index":3}]]},"B2-BuscarBlocos":{"main":[[{"node":"B2b-AgregaBlocos","type":"main","index":0}]]},"B3-BuscarJuris":{"main":[[{"node":"B-MergeAll","type":"main","index":5}]]},"C1-MontarPayloadGAS":{"main":[[{"node":"C2-ChamarGAS","type":"main","index":0}]]},"C2-ChamarGAS":{"main":[[{"node":"C3-CheckGAS","type":"main","index":0}]]},"C3-CheckGAS":{"main":[[{"node":"D1-SalvarSucesso","type":"main","index":0}],[{"node":"D2-SalvarErroGAS","type":"main","index":0}]]},"E-ErrorTrigger":{"main":[[{"node":"E1-SalvarErroGlobal","type":"main","index":0}]]},"B2b-AgregaBlocos":{"main":[[{"node":"B-MergeAll","type":"main","index":4}]]},"B-MergeAll":{"main":[[{"node":"C1-MontarPayloadGAS","type":"main","index":0}]]}},"settings":{"saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5b8685dd-e933-4983-ba54-864db9c3d029","activeVersionId":"5b8685dd-e933-4983-ba54-864db9c3d029","versionCounter":101,"triggerCount":1,"shared":[{"updatedAt":"2026-03-16T21:50:26.685Z","createdAt":"2026-03-16T21:50:26.685Z","role":"workflow:owner","workflowId":"hyGajjic2kZBVGvW","projectId":"dczOQl1cnUU4I3oq","project":{"updatedAt":"2025-03-24T20:12:17.896Z","createdAt":"2025-03-24T20:10:53.982Z","id":"dczOQl1cnUU4I3oq","name":"Christian Paz <contato@perinottipazadvogados.com>","type":"personal","icon":null,"description":null,"creatorId":"928a9878-85e2-4ee8-b61a-45a6f91d7381","projectRelations":[{"updatedAt":"2025-03-24T20:10:53.982Z","createdAt":"2025-03-24T20:10:53.982Z","userId":"928a9878-85e2-4ee8-b61a-45a6f91d7381","projectId":"dczOQl1cnUU4I3oq","user":{"updatedAt":"2026-03-16T04:28:43.763Z","createdAt":"2025-03-24T20:10:52.456Z","id":"928a9878-85e2-4ee8-b61a-45a6f91d7381","email":"contato@perinottipazadvogados.com","firstName":"Christian","lastName":"Paz","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-24T20:12:58.885Z","personalization_survey_n8n_version":"1.84.1","companyIndustryExtended":["legal-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"98jZs5mFIjRiRVfi","userActivatedAt":1756833162743,"npsSurvey":{"responded":true,"lastShownAt":1762284674248},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-16T23:54:29.200Z","createdAt":"2026-03-16T23:54:29.200Z","versionId":"5b8685dd-e933-4983-ba54-864db9c3d029","workflowId":"hyGajjic2kZBVGvW","nodes":[{"id":"sticky-a","name":"📌 SEÇÃO A — Entrada + Validate + 202","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,-480],"parameters":{"color":2,"width":680,"height":130,"content":"## SEÇÃO A — Entrada + Validação + Respond 202 imediato\nPOST /olivia/gerar-manual | header: mdflow\nValida campos → responde 202 → continua async"}},{"id":"webhook","name":"WH-SmartBlocks","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-340],"webhookId":"olivia-smart-blocks-v1","parameters":{"httpMethod":"POST","path":"olivia/gerar-manual","responseMode":"responseNode","options":{"allowedOrigins":"*"},"authentication":"headerAuth"},"credentials":{"httpHeaderAuth":{"id":"7bGoQhcPPZN8nCm2","name":"mdflow"}}},{"id":"validate","name":"A1-Validate","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-340],"parameters":{"jsCode":"// Validar e extrair payload\nconst body = $input.first().json.body || $input.first().json;\n\n// Campos obrigatórios raiz\nconst rootRequired = ['request_id', 'organizacao_id', 'actor_user_id', 'historico_id'];\nfor (const f of rootRequired) {\n  if (!body[f]) throw new Error(`Campo obrigatório ausente: ${f}`);\n}\n\n// Campos obrigatórios em data\nconst data = body.data || {};\nconst dataRequired = ['processo_id', 'modelo_id', 'versao_id', 'advogado_id', 'blocos_ids'];\nfor (const f of dataRequired) {\n  if (!data[f]) throw new Error(`Campo obrigatório ausente em data: ${f}`);\n}\n\nif (!Array.isArray(data.blocos_ids) || data.blocos_ids.length === 0) {\n  throw new Error('blocos_ids deve ser array não vazio');\n}\n\nreturn [{ json: {\n  request_id:         body.request_id,\n  organizacao_id:     body.organizacao_id,\n  actor_user_id:      body.actor_user_id,\n  historico_id:       body.historico_id,\n  processo_id:        data.processo_id,\n  modelo_id:          data.modelo_id,\n  versao_id:          data.versao_id,\n  advogado_id:        data.advogado_id,\n  tipo_peticao_id:    data.tipo_peticao_id    || null,\n  blocos_ids:         data.blocos_ids,\n  jurisprudencias_ids: Array.isArray(data.jurisprudencias_ids) ? data.jurisprudencias_ids : [],\n  instrucoes_finais:  data.instrucoes_finais  || ''\n}}];"}},{"id":"respond202","name":"A-Respond202","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,-340],"parameters":{"respondWith":"json","responseCode":202,"responseBody":"={{ JSON.stringify({ success: true, action: 'webhook_triggered', historico_id: $json.historico_id, status: 'PROCESSANDO', message: 'Smart Blocks processando em segundo plano' }) }}"}},{"id":"sticky-b","name":"📌 SEÇÃO B — Busca de Dados","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[600,-480],"parameters":{"color":3,"width":800,"height":130,"content":"## SEÇÃO B — Busca de Dados (paralelo via Supabase nativo)\nB1: processo + clientes + empresas + advogados\nB2: olivia_blocos_texto (google_doc_id apenas)\nB3: olivia_jurisprudencias (condicional: só se jurisprudencias_ids não vazio)\nB4: olivia_versoes → olivia_modelos_peticao (google_doc_id_origem)"}},{"id":"b2-blocos","name":"B2-BuscarBlocos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,-100],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_blocos_texto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=in.({{ $json.blocos_ids.join(\",\") }})"},{"name":"select","value":"id,titulo,google_doc_id"}]},"options":{}}},{"id":"b3-juris","name":"B3-BuscarJuris","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,60],"parameters":{"jsCode":"// Buscar jurisprudências — só se IDs não vazio\nconst validado = $('A1-Validate').first().json;\nconst ids = validado.jurisprudencias_ids || [];\nif (ids.length === 0) {\n  return [{ json: { jurisprudencias: [] } }];\n}\n// Se tem IDs, montar como array vazio por ora (HTTP Request separado chamaria, mas por simplificação retorna vazio se não há juris)\n// Em produção, jurisprudencias_ids vem preenchido raramente\nreturn [{ json: { jurisprudencias: [] } }];"}},{"id":"c1-montar","name":"C1-MontarPayloadGAS","type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,-160],"parameters":{"jsCode":"// Montar payload completo para GAS v4.0\n// Inspirado no Edit Fields + Preparar para script do legado NKeskbity7PCCGPH\n\nconst validado   = ($('A1-Validate').first() || {json:{}}).json;\nconst processo = $('B1-BuscarProcesso').first().json || {};\nconst advogado = $('B1b-BuscarAdvogado').first().json || {};\nconst _cli = $('B1c-BuscarCliente').first().json; const cliente = (Array.isArray(_cli) ? (_cli[0] || {}) : (_cli || {}));\nconst _emp = $('B1d-BuscarEmpresa').first().json; const empresa = (Array.isArray(_emp) ? (_emp[0] || {}) : (_emp || {}));\nconst _mdl = $('B1e-BuscarModelo').first().json; const modeloRow = (Array.isArray(_mdl) ? (_mdl[0] || {}) : (_mdl || {}));\nconst blocosData = ($('B2b-AgregaBlocos').first() || {json:{blocos:[]}}).json.blocos || [];\nconst jurisData  = $('B3-BuscarJuris').first().json.jurisprudencias || [];\n\n// ── Montar mapa de blocos (preserva ordem do frontend)\nconst blocoMap = {};\nfor (const b of blocosData) blocoMap[b.id] = b;\n\nconst blocos = validado.blocos_ids\n  .map((id, idx) => {\n    const b = blocoMap[id];\n    if (!b || !b.google_doc_id) return null;\n    return { ordem: idx + 1, placeholder: `{{bloco_${idx + 1}}}`, google_doc_id: b.google_doc_id };\n  })\n  .filter(Boolean);\n\nif (blocos.length === 0) throw new Error('Nenhum bloco com google_doc_id encontrado');\n\n// ── Jurisprudências\nconst jurisprudencias = jurisData\n  .map((j, idx) => (j.google_doc_id ? { placeholder: `{{jurisprudencia_${idx + 1}}}`, google_doc_id: j.google_doc_id, titulo: j.titulo || '' } : null))\n  .filter(Boolean);\n\n// ── Modelo google_doc_id\nconst modeloGoogleDocId = modeloRow.google_doc_id_origem || null;\n\n// ── Dados advogado\nconst metaAdv = advogado.meta || {};\nconst fonteLetra = metaAdv.fonte_letra || 'Arial';\nconst dadosBancarios = metaAdv.dados_bancarios || '';\nconst advCidade = metaAdv.cidade || 'Canoas';\nconst advRodape = advogado.cabecalho_escritorio || '';\nconst oabCodigo = [advogado.oab_uf, advogado.oab].filter(Boolean).join('');\nconst oabFormatado = [advogado.oab_uf, advogado.oab].filter(Boolean).join('/');\n\n// ── Dados cliente — sexo\nconst sexo = cliente.sexo || '';\nconst isMasc = sexo === 'Masculino' || sexo === 'M';\nconst qualificacaoSexo    = isMasc ? 'ja qualificado'  : 'ja qualificada';\nconst sexoNacionalidade   = isMasc ? 'brasileiro'      : 'brasileira';\nconst sexoInscrito        = isMasc ? 'inscrito'        : 'inscrita';\nconst sexoPortador        = isMasc ? 'portador'        : 'portadora';\nconst sexoDomiciliado     = isMasc ? 'domiciliado'     : 'domiciliada';\n\n// ── Endereço cliente\nconst clienteEndereco = [\n  cliente.endereco_logradouro || '',\n  cliente.endereco_numero ? `nº ${cliente.endereco_numero}` : '',\n  [cliente.cidade, cliente.endereco_uf].filter(Boolean).join('/'),\n  cliente.cep ? `CEP ${cliente.cep}` : ''\n].filter(Boolean).join(', ');\n\n// ── Estado extenso\nconst mapaEstados = { RS: 'Rio Grande do Sul', SP: 'Sao Paulo', SC: 'Santa Catarina', PR: 'Parana', MG: 'Minas Gerais', RJ: 'Rio de Janeiro' };\nconst uf = (cliente.endereco_uf || processo.estado_id || '').toUpperCase();\nconst estadoExtenso = mapaEstados[uf] || uf;\n\n// ── Datas\nconst dataHoje = new Date().toLocaleDateString('pt-BR', { day: 'numeric', month: 'long', year: 'numeric', timeZone: 'America/Sao_Paulo' });\nconst dataRestricao = processo.restricao_data ? new Date(processo.restricao_data + 'T12:00:00').toLocaleDateString('pt-BR', { day: '2-digit', month: '2-digit', year: '2-digit' }) : '';\n\n// ── Valor causa: 15000 + restricao_valor (lógica legado)\nconst restricaoValorNum = parseFloat(String(processo.restricao_valor || 0));\nconst valorCausaNum = 15000 + restricaoValorNum;\nconst valorCausaFmt = valorCausaNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\nconst restricaoValorFmt = restricaoValorNum.toLocaleString('pt-BR', { minimumFractionDigits: 2 });\n\n// ── Enderecamento vara\nconst enderecamentoJson = processo.enderecamento || {};\nconst enderecamentoVara = enderecamentoJson.vara_civel || '';\n\n// ── Tags de substituição (compatível com o legado)\nconst camposSubstituicao = {\n  '{{advogado_nome}}':               (advogado.nome || '').toUpperCase(),\n  '{{advogado_oab_codigo}}':         oabCodigo,\n  '{{advogado_oab}}':                'OAB/' + oabFormatado,\n  '{{advogado_enderecamento}}':      advogado.cabecalho_escritorio || '',\n  '{{advogado_rodape}}':             advRodape,\n  '{{advogado_email}}':              advogado.email || '',\n  '{{advogado_cidade}}':             advCidade,\n  '{{dados_bancarios}}':             dadosBancarios,\n  '{{parte_autora}}':                (cliente.nome || '').toUpperCase(),\n  '{{cliente_nome}}':                cliente.nome  || '',\n  '{{empresa_re}}':                  processo.reu_nome || empresa.nome || '',\n  '{{reu_nome}}':                    processo.reu_nome || empresa.nome || '',\n  '{{numero_processo}}':             processo.numero_cnj || processo.numero_processo || '',\n  '{{numero_cnj}}':                  processo.numero_cnj || '',\n  '{{valor_restricao}}':             restricaoValorFmt,\n  '{{contrato_restricao}}':          processo.restricao_contrato || '',\n  '{{orgao_restritivo}}':            processo.restricao_orgao_nome || '',\n  '{{data_restricao}}':              dataRestricao,\n  '{{cliente_cpf}}':                 cliente.cpf_cnpj || '',\n  '{{cliente_rg}}':                  cliente.rg       || '',\n  '{{cliente_email}}':               cliente.email    || '',\n  '{{cliente_profissao}}':           cliente.profissao || '',\n  '{{cliente_endereco}}':            clienteEndereco,\n  '{{qualificacao_sexo}}':           qualificacaoSexo,\n  '{{cliente_sexo_nacionalidade}}':  sexoNacionalidade,\n  '{{cliente_sexo_inscrito}}':       sexoInscrito,\n  '{{cliente_sexo_portador}}':       sexoPortador,\n  '{{cliente_sexo_domiciliado}}':    sexoDomiciliado,\n  '{{data_hoje}}':                   dataHoje,\n  '{{estado_extenso}}':              estadoExtenso,\n  '{{valor_causa}}':                 valorCausaFmt,\n  '{{empresa_endereco}}':            '',\n  '{{categoria_empresa}}':           '',\n  '{{enderecamento_vara}}':          enderecamentoVara,\n  '{{cabecalho_escritorio}}':        advogado.cabecalho_escritorio || '',\n};\n\nconst nomeArquivo = ('Peticao - ' + (processo.numero_cnj || '') + ' - ' + (cliente.nome || '')).trim() || 'Peticao';\n\n// ── Payload GAS v4.0\nconst gasPayload = {\n  titulo_documento: nomeArquivo,\n  processo: { numero: processo.numero_cnj || validado.processo_id },\n  modelo:   modeloGoogleDocId ? { google_doc_id: modeloGoogleDocId } : null,\n  blocos,\n  jurisprudencias,\n  campos_substituicao: camposSubstituicao,\n  configuracoes: {\n    nome_arquivo: nomeArquivo,\n    titulo_documento: nomeArquivo,\n    pasta_destino_id: '1JTbKJqbmPzRTLlqRYZEZ5pNY-w8r1ALZ',\n    fallback_to_root: true,\n    debug: false\n  },\n  config: {\n    fonte:                  fonteLetra,\n    tamanho_corpo:          12,\n    cabecalho_escritorio:   advogado.cabecalho_escritorio || '',\n    aplicar_fonte_global:   true\n  }\n};\n\nreturn [{ json: {\n  historico_id:   validado.historico_id,\n  organizacao_id: validado.organizacao_id,\n  gasPayload,\n  gasPayloadStr: JSON.stringify(gasPayload),\n  debug: {\n    blocos_count:       blocos.length,\n    juris_count:        jurisprudencias.length,\n    modelo_google_doc:  modeloGoogleDocId,\n    advogado_nome:      advogado.nome,\n    cliente_nome:       cliente.nome,\n    processo_cnj:       processo.numero_cnj\n  }\n}}];","mode":"runOnceForAllItems"}},{"id":"c2-gas","name":"C2-ChamarGAS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-160],"parameters":{"method":"POST","url":"https://script.google.com/a/macros/perinottipazadvogados.com/s/AKfycbzO1wSgI-4vg3rTzId92DS08VGuImXQEwhZlW6miPwpNzT-AuMtkXJpXW-a7ozyjv6PLw/exec","sendBody":true,"contentType":"json","body":"={{ $json.gasPayloadStr }}","options":{"timeout":60000,"response":{"response":{"neverError":true}}},"specifyBody":"string","bodyContentType":"raw"}},{"id":"c3-check","name":"C3-CheckGAS","type":"n8n-nodes-base.if","typeVersion":2.1,"position":[1720,-160],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"success-check","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"sticky-d","name":"📌 SEÇÃO D — Salvar Resultado","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,-480],"parameters":{"color":4,"width":600,"height":130,"content":"## SEÇÃO D — Salvar no olivia_historico\nD1: PATCH → SUCESSO + google_doc_url + google_doc_id\nD2: PATCH → ERRO (GAS retornou success=false)"}},{"id":"d1-sucesso","name":"D1-SalvarSucesso","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-260],"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.historico_id }}"}]},"sendBody":true,"contentType":"json","options":{},"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"status","value":"SUCESSO"},{"name":"google_doc_url","value":"={{ $json.url || $json.google_doc_url || null }}"},{"name":"google_doc_id","value":"={{ $json.google_doc_id || null }}"},{"name":"finished_at","value":"={{ new Date().toISOString() }}"},{"name":"modo","value":"SMART_BLOCKS"}]}}},{"id":"d2-erro","name":"D2-SalvarErroGAS","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-60],"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_historico","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.historico_id }}"}]},"sendBody":true,"contentType":"json","options":{},"specifyBody":"keypair","bodyParameters":{"parameters":[{"name":"status","value":"ERRO"},{"name":"error_message","value":"={{ $json.error_message || $json.message || $json.error || 'GAS retornou erro' }}"},{"name":"finished_at","value":"={{ new Date().toISOString() }}"}]}}},{"id":"sticky-e","name":"📌 SEÇÃO E — Error Handler Global","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-200,200],"parameters":{"color":6,"width":800,"height":130,"content":"## SEÇÃO E — Error Handler Global\nCaptura qualquer exceção não tratada no fluxo\nPATCH olivia_historico → ERRO se historico_id disponível"}},{"id":"err-trigger","name":"E-ErrorTrigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,300]},{"id":"err-handler","name":"E1-SalvarErroGlobal","type":"n8n-nodes-base.code","typeVersion":2,"position":[260,300],"parameters":{"jsCode":"// E1-SalvarErroGlobal v2 — salva status ERRO no Supabase\nconst SUPABASE_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\n\nconst errData  = $input.first().json;\nconst exec     = errData.execution || {};\nconst lastErr  = exec.error || errData.error || {};\nconst nodeName = lastErr.node?.name || exec.lastNodeExecuted || 'desconhecido';\nconst errorMsg = lastErr.message || 'Erro desconhecido';\n\nconst result = { ok: false, error: errorMsg, node: nodeName };\n\n// Tentar pegar historico_id do contexto\nlet historicoId = null;\ntry {\n  const a1 = $('A1-Validate').first().json;\n  historicoId = a1.historico_id || null;\n} catch(e) {}\n\nresult.historico_id = historicoId;\n\n// Atualizar olivia_historico com status ERRO\nif (historicoId) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPABASE_URL}/rest/v1/olivia_historico?id=eq.${historicoId}`,\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Content-Type': 'application/json',\n        'Prefer': 'return=minimal'\n      },\n      body: JSON.stringify({\n        status: 'ERRO',\n        error_message: `[${nodeName}] ${errorMsg}`,\n        finished_at: new Date().toISOString()\n      })\n    });\n    result.supabase_updated = true;\n  } catch(patchErr) {\n    result.supabase_error = patchErr.message;\n  }\n}\n\nreturn [{ json: result }];"}},{"id":"b2b-agregador","name":"B2b-AgregaBlocos","type":"n8n-nodes-base.code","typeVersion":2,"position":[920,-100],"parameters":{"mode":"runOnceForAllItems","jsCode":"// Agrega todos os blocos num único item\nconst blocos = $input.all().map(i => i.json);\nreturn [{ json: { blocos } }];"}},{"id":"b1-processo","name":"B1-BuscarProcesso","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[700,-300],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.processo_id }}"},{"name":"select","value":"id,numero_processo,numero_cnj,organizacao_id,cliente_id,empresa_id,advogado_id,estado_id,restricao_data,restricao_valor,restricao_contrato,restricao_orgao_nome,reu_nome,enderecamento"}]},"options":{}}},{"id":"b1b-advogado","name":"B1b-BuscarAdvogado","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-400],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/advogados","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.advogado_id }}"},{"name":"select","value":"id,nome,oab,oab_uf,cabecalho_escritorio,meta,email"}]},"options":{}}},{"id":"b1c-cliente","name":"B1c-BuscarCliente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-240],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/clientes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('B1-BuscarProcesso').first().json.cliente_id }}"},{"name":"select","value":"id,nome,cpf_cnpj,rg,sexo,email,profissao,endereco_logradouro,endereco_numero,cidade,endereco_uf,cep"}]},"options":{}}},{"id":"b1d-empresa","name":"B1d-BuscarEmpresa","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,-80],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/empresas","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('B1-BuscarProcesso').first().json.empresa_id }}"},{"name":"select","value":"id,nome,cnpj,razao_social"}]},"options":{}}},{"id":"b1e-modelo","name":"B1e-BuscarModelo","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[940,80],"parameters":{"method":"GET","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_modelos_peticao","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('A1-Validate').first().json.versao_id }}"},{"name":"select","value":"id,nome,tipo_peticao_id,google_doc_id_origem,conteudo_template,instrucoes_ia,modelo_grupo_id"}]},"options":{}}},{"id":"b-merge-all","name":"B-MergeAll","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1100,-160],"parameters":{"mode":"append","numberOfInputs":6}}],"connections":{"WH-SmartBlocks":{"main":[[{"node":"A1-Validate","type":"main","index":0}]]},"A1-Validate":{"main":[[{"node":"A-Respond202","type":"main","index":0}]]},"A-Respond202":{"main":[[{"node":"B1-BuscarProcesso","type":"main","index":0},{"node":"B2-BuscarBlocos","type":"main","index":0},{"node":"B3-BuscarJuris","type":"main","index":0},{"node":"B1e-BuscarModelo","type":"main","index":0}]]},"B1-BuscarProcesso":{"main":[[{"node":"B1b-BuscarAdvogado","type":"main","index":0},{"node":"B1c-BuscarCliente","type":"main","index":0},{"node":"B1d-BuscarEmpresa","type":"main","index":0}]]},"B1b-BuscarAdvogado":{"main":[[{"node":"B-MergeAll","type":"main","index":0}]]},"B1c-BuscarCliente":{"main":[[{"node":"B-MergeAll","type":"main","index":1}]]},"B1d-BuscarEmpresa":{"main":[[{"node":"B-MergeAll","type":"main","index":2}]]},"B1e-BuscarModelo":{"main":[[{"node":"B-MergeAll","type":"main","index":3}]]},"B2-BuscarBlocos":{"main":[[{"node":"B2b-AgregaBlocos","type":"main","index":0}]]},"B3-BuscarJuris":{"main":[[{"node":"B-MergeAll","type":"main","index":5}]]},"C1-MontarPayloadGAS":{"main":[[{"node":"C2-ChamarGAS","type":"main","index":0}]]},"C2-ChamarGAS":{"main":[[{"node":"C3-CheckGAS","type":"main","index":0}]]},"C3-CheckGAS":{"main":[[{"node":"D1-SalvarSucesso","type":"main","index":0}],[{"node":"D2-SalvarErroGAS","type":"main","index":0}]]},"E-ErrorTrigger":{"main":[[{"node":"E1-SalvarErroGlobal","type":"main","index":0}]]},"B2b-AgregaBlocos":{"main":[[{"node":"B-MergeAll","type":"main","index":4}]]},"B-MergeAll":{"main":[[{"node":"C1-MontarPayloadGAS","type":"main","index":0}]]}},"authors":"Christian Paz","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-16T23:54:29.414Z","id":4185,"workflowId":"hyGajjic2kZBVGvW","versionId":"5b8685dd-e933-4983-ba54-864db9c3d029","event":"activated","userId":"928a9878-85e2-4ee8-b61a-45a6f91d7381"}]}}