jana/olivia-v3-workflow-backup.json
{"updatedAt":"2026-03-17T02:34:18.002Z","createdAt":"2026-03-16T20:47:39.761Z","id":"8ntAvTGMhCfrlfRt","name":"OLIVIA-ANALISE-V3","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mdflow/olivia/analise","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"id":"wh-analise-v3","name":"WH-Analise","webhookId":"olivia-analise-v3-webhook"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/webhook_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  organizacao_id: $json.body.organizacao_id,\n  user_id: $json.body.user_id,\n  webhook_nome: 'olivia-analise-v3',\n  contexto: 'olivia.analise.v3',\n  rota_origem: '/webhook/mdflow/olivia/analise',\n  status: 'processing',\n  payload: $json.body\n}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"id":"a1-log-insert","name":"A1-LogWebhook-INSERT"},{"parameters":{"jsCode":"// A2 — Validação simples do payload\nconst body = $('WH-Analise').item.json.body;\nconst campos = ['request_id', 'organizacao_id', 'user_id'];\nconst camposData = ['processo_id'];\n\nconst erros = [];\nfor (const campo of campos) {\n  if (!body?.[campo]) erros.push(`Campo obrigatório ausente: ${campo}`);\n}\nfor (const campo of camposData) {\n  if (!body?.data?.[campo]) erros.push(`Campo obrigatório ausente em data: ${campo}`);\n}\n\nreturn [{ json: { valid: erros.length === 0, error: erros[0] || null, errors: erros } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"id":"a2-validate","name":"A2-ValidatePayload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,300],"id":"a3-if-valid","name":"A3-PayloadValido?"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  organizacao_id: $('WH-Analise').item.json.body.organizacao_id,\n  processo_id: $('WH-Analise').item.json.body.data.processo_id,\n  user_id: $('WH-Analise').item.json.body.user_id,\n  tipo: $('WH-Analise').item.json.body.data.tipo || 'PROVAS',\n  arquivos: $('WH-Analise').item.json.body.data.arquivos || [],\n  contexto: $('WH-Analise').item.json.body.data.contexto || '',\n  status: 'PROCESSANDO',\n  meta: {progresso: 5, fase: 'Iniciando análise...', request_id: $('WH-Analise').item.json.body.request_id}\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,220],"id":"a4-insert-analise","name":"A4-INSERT-olivia_analises"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success: true, analise_id: Array.isArray($json) ? $json[0].id : $json.id, status: 'PROCESSANDO', message: 'Análise iniciada. Use analise_id para polling.'}) }}","options":{"responseCode":202}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,220],"id":"a-respond-202","name":"A-Respond-202"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success: false, error: $('A2-ValidatePayload').item.json.error || 'Payload inválido', code: 'VALIDATION_ERROR'}) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,400],"id":"a-respond-error","name":"A-Respond-Error"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 20, fase: 'Contexto carregado. Classificando documentos...', categoria: $json.categoria_nome, tags_count: $json.total_tags, playbook: $json.playbook.nome} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3320,220],"id":"b4-update-progress","name":"B4-UPDATE-Classificando"},{"parameters":{"jsCode":"// C1 — Preparar array de documentos para extração\nconst ctx = $('B3-Process').item.json;\nconst arquivos = ctx.arquivos_input || [];\n\nconst docs = arquivos.map(arq => ({\n  filename: arq.file_name || arq.filename || 'documento.pdf',\n  storage_path: arq.path || arq.storage_path || '',\n  mime_type: arq.mime_type || 'application/pdf',\n  documento_tipo: null,\n  extraction_model: null,\n  extracted: null,\n  qualidade_extracao: 0\n}));\n\n// Sempre retornar ao menos 1 item com o contexto\n// _has_docs indica se tem arquivos para processar\nif (docs.length === 0) {\n  return [{ json: { ...ctx, docs_extraidos: [], total_docs: 0, qualidade_media: 0, _has_docs: false } }];\n}\nreturn docs.map(d => ({ json: { ...ctx, doc_atual: d, _has_docs: true } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,220],"id":"c1-split-docs","name":"C1-SplitDocs"},{"parameters":{"batchSize":1,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3760,220],"id":"c2-loop-docs","name":"C2-Loop-Docs"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/storage/v1/object/sign/processos/{{ $json.doc_atual.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"expiresIn\": 3600}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3980,220],"id":"c3-fetch-arquivo","name":"C3-FetchArquivo"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4200,220],"id":"c4-extract-pdf","name":"C4-ExtractPDF"},{"parameters":{"jsCode":"// C5 — Formatar texto extraído do PDF\nconst ctx = $('C2-Loop-Docs').item.json;\nconst extracted = $input.item;\n\nconst texto = extracted.json?.text || '';\nconst DOC_BUDGET = 20000; // chars por doc\nconst texto_truncado = texto.substring(0, DOC_BUDGET);\nconst qualidade = texto_truncado.trim().length > 100 ? 80 : 20;\n\nreturn [{\n  json: {\n    ...ctx,\n    doc_atual: {\n      ...ctx.doc_atual,\n      extracted: {\n        texto_completo: texto_truncado,\n        qualidade_extracao: qualidade,\n        method: 'pdf_native'\n      },\n      extraction_model: 'n8n-extract-pdf',\n      qualidade_extracao: qualidade\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4420,220],"id":"c5-format-pdf","name":"C5-FormatPDF"},{"parameters":{"jsCode":"// D1 — Consolidar todos os docs extraídos e preparar para análise\nconst allDocs = $input.all().map(item => item.json.doc_atual);\nconst ctx = $input.first().json;\n\n// Consolidar docs\nconst docs_extraidos = allDocs.filter(d => d && d.extracted);\nconst qualidade_media = docs_extraidos.length > 0\n  ? Math.round(docs_extraidos.reduce((s, d) => s + (d.qualidade_extracao || 0), 0) / docs_extraidos.length)\n  : 0;\n\nreturn [{\n  json: {\n    ...ctx,\n    docs_extraidos,\n    total_docs: docs_extraidos.length,\n    qualidade_media\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,220],"id":"d1-consolidar","name":"D1-ConsolidarDocs"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 50, fase: 'Documentos extraídos. Buscando jurisprudência relevante...', total_docs: $json.total_docs, qualidade_media: $json.qualidade_media} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4860,220],"id":"d2-update-50","name":"D2-UPDATE-50pct"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer OPENAI_KEY_REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"text-embedding-ada-002\", \"input\": ($json.rag_query || 'analise juridica').substring(0, 8000)}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5080,220],"id":"d3-embedding","name":"D3-GerarEmbedding"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_rag_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_query_embedding: $json.data[0].embedding, p_organizacao_id: $('D2-PassCtx').item.json.organizacao_id, p_source_types: ['jurisprudencia', 'peticao'], p_top_k: 8, p_min_score: 0.3, p_agent_key: 'olivia-analise-provas'}) }}","options":{"response":{"response":{"fullResponse":true}},"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5300,220],"id":"d4-rag-search","name":"D4-BuscarRAG"},{"parameters":{"jsCode":"// D5 — Montar pacote completo para análise\nconst ctx = $('D2-PassCtx').item.json;\nconst ragRaw = $input.item.json._rag_results || [];\n\nconst ragResults = Array.isArray(ragRaw) ? ragRaw : [];\nconst jurisprudencias = ragResults.map(c => ({\n  titulo: c.titulo,\n  conteudo: c.conteudo?.substring(0, 500),\n  score: c.score,\n  source_type: c.source_type,\n  tribunal: c.metadata?.tribunal || null\n}));\n\n// Truncar blocos para context window (max 200 chars cada)\nconst blocos_truncados = (ctx.blocos || []).map(b => ({\n  id: b.id,\n  titulo: b.titulo,\n  tag_ids: b.tag_ids,\n  conteudo_preview: (b.conteudo_preview || '').substring(0, 200)\n}));\n\nreturn [{\n  json: {\n    analise_id: ctx.analise_id,\n    organizacao_id: ctx.organizacao_id,\n    processo_id: ctx.processo_id,\n    request_id: ctx.request_id,\n    user_id: ctx.user_id,\n    tipo_analise: ctx.tipo_analise,\n    processo: ctx.processo,\n    empresa: ctx.empresa,\n    categoria_id: ctx.categoria_id,\n    categoria_nome: ctx.categoria_nome,\n    cliente: ctx.cliente,\n    advogado: ctx.advogado,\n    comarca: ctx.comarca,\n    docs_extraidos: ctx.docs_extraidos,\n    total_docs: ctx.total_docs,\n    qualidade_media: ctx.qualidade_media,\n    tags: ctx.tags || [],\n    total_tags: ctx.total_tags || 0,\n    blocos: blocos_truncados,\n    total_blocos: ctx.total_blocos || 0,\n    playbook: ctx.playbook,\n    jurisprudencias: {\n      total: jurisprudencias.length,\n      chunks: jurisprudencias\n    },\n    analise_anterior: ctx.analise_anterior,\n    modelo_template: ctx.modelo_template || null,\n    ia_resumo_existente: ctx.ia_resumo_existente || null,\n    chance_sucesso_existente: ctx.chance_sucesso_existente || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,220],"id":"d5-montar-pacote","name":"D5-MontarPacote"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 60, fase: 'Analisando perguntas da categoria...', tags_count: $json.total_tags, rag_count: $json.jurisprudencias.total} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5740,220],"id":"e1-update-60","name":"E1-UPDATE-60pct"},{"parameters":{"jsCode":"// E2 — Preparar input para Claude Sonnet (análise unificada + peticao_base + relatorio)\nconst p = $('D5-MontarPacote').item.json;\n\nconst SYSTEM_PROMPT = `<identidade>\nVocê é a OlivIA, analista probatória sênior do escritório Midas (MDX LegalTech).\nEspecializada em direito do consumidor, restrições de crédito e análise documental probatória.\n</identidade>\n\n<objetivo>\nRealizar análise probatória COMPLETA. Você deve:\n1. Analisar as provas documentais do processo\n2. Para cada TAG da categoria, decidir qual BLOCO DE TEXTO usar (ou gerar pergunta se incerto)\n3. Gerar uma PETIÇÃO BASE estruturada por blocos seguindo o template do modelo (quando fornecido)\n4. Gerar um RELATÓRIO EXECUTIVO completo do processo para o advogado\n5. Retornar SEMPRE um JSON válido e estruturado — NENHUM texto fora do JSON\n\nREGRA ABSOLUTA: Sua resposta é EXCLUSIVAMENTE um objeto JSON. Nenhum texto antes ou depois.\n</objetivo>\n\n<regra_jurisprudencia_absoluta>\nREGRA ABSOLUTA: Você SOMENTE pode citar jurisprudências presentes em <jurisprudencia_rag>.\nNÃO invente, NÃO cite STJ/STF/TJRS ou qualquer tribunal que não esteja no banco fornecido.\nSe não há jurisprudência relevante no banco, NÃO cite nenhuma — omita a seção de jurisprudência.\n</regra_jurisprudencia_absoluta>\n\n<legislacao_base>\n- CDC Art. 43: Cadastros de inadimplentes — prazo máximo 5 anos, comunicação prévia obrigatória\n- CDC Art. 14: Responsabilidade objetiva do fornecedor\n- CDC Art. 6, VIII: Inversão do ônus da prova\n- CDC Art. 42: Vedação de exposição ao ridículo na cobrança\n- CC Art. 186 e 927: Responsabilidade civil por ato ilícito\n- Súmula 385 STJ: Negativação preexistente legítima afasta dano moral\n- Súmula 479 STJ: Responsabilidade objetiva de instituições financeiras\n- Súmula 359 STJ: Comunicação prévia ao consumidor obrigatória\n- Dano moral in re ipsa em negativação indevida\n</legislacao_base>\n\n<playbook_categoria>\n${p.playbook?.instrucoes || 'Análise padrão — sem playbook específico para esta categoria.'}\n</playbook_categoria>`;\n\n// Documentos extraídos\nconst TOTAL_DOC_BUDGET = 80000;\nlet usedChars = 0;\nconst docsTexto = (p.docs_extraidos || []).map((d, i) => {\n  if (usedChars >= TOTAL_DOC_BUDGET) return null;\n  const textoRaw = d.extracted?.texto_completo?.substring(0, 15000) || '(sem texto extraído)';\n  const texto = textoRaw.substring(0, TOTAL_DOC_BUDGET - usedChars);\n  usedChars += texto.length;\n  return `[DOC ${i+1}: ${d.filename}]\\n${texto}`;\n}).filter(Boolean).join('\\n\\n---\\n\\n');\n\nconst tagsTexto = (p.tags || []).map(t =>\n  `Tag ID: ${t.id} | Código: ${t.codigo} | Nome: ${t.nome}`\n).join('\\n');\n\nconst blocosTexto = (p.blocos || []).map(b =>\n  `Bloco ID: ${b.id} | Titulo: ${b.titulo}\\nPreview: ${b.conteudo_preview}`\n).join('\\n---\\n');\n\nconst jurisTexto = (p.jurisprudencias?.chunks || []).map((j, i) =>\n  `[JURIS ${i+1}] ${j.titulo} (score: ${j.score?.toFixed(2)})\\n${j.conteudo}`\n).join('\\n\\n');\n\nconst anteriorTexto = p.analise_anterior\n  ? `ANÁLISE ANTERIOR (${p.analise_anterior.created_at?.substring(0,10)}): ${JSON.stringify(p.analise_anterior.resultado?.visao_geral || '').substring(0, 500)}`\n  : 'Primeira análise deste processo.';\n\nconst resumoIATexto = p.ia_resumo_existente\n  ? `\\n\\n<resumo_processo_ia>\\n${p.ia_resumo_existente}\\n</resumo_processo_ia>`\n  : '';\n\nconst templateBaseTexto = p.modelo_template?.conteudo_template\n  ? `\\n\\n<template_base_peticao nome=\"${p.modelo_template.nome || ''}\">\nEste é o esqueleto do modelo de petição do advogado. Use como estrutura base OBRIGATÓRIA.\nSiga EXATAMENTE a estrutura de seções/tags. Pode criar novas tags entre as existentes.\n${p.modelo_template.conteudo_template}\n</template_base_peticao>`\n  : '';\n\nconst USER_MESSAGE = `<processo>\nNúmero: ${p.processo?.numero_cnj || p.processo?.numero_processo || 'N/A'}\nTipo: ${p.processo?.tipo_processo || 'N/A'}\nObjeto: ${p.processo?.objeto || 'N/A'}\nEmpresa Ré: ${p.empresa?.nome || 'N/A'}\nCategoria: ${p.categoria_nome}\nCliente: ${p.cliente?.nome || 'N/A'}\nPolo: ${p.processo?.polo_representado || 'autor'}\nValor da Causa: ${p.processo?.valor_causa ? 'R$ ' + p.processo.valor_causa : 'N/A'}\n</processo>\n${resumoIATexto}\n\n<documentos_extraidos>\n${docsTexto || '(Nenhum documento enviado)'}\n</documentos_extraidos>\n\n<tags_da_categoria title=\"Tags = perguntas que a IA deve responder com blocos\">\n${tagsTexto || '(Nenhuma tag cadastrada para esta categoria)'}\n</tags_da_categoria>\n\n<blocos_disponiveis title=\"Blocos = opções de resposta para as tags\">\n${blocosTexto || '(Nenhum bloco cadastrado)'}\n</blocos_disponiveis>\n\n<jurisprudencia_rag>\n${jurisTexto || '(Sem jurisprudência encontrada no banco — NÃO cite nenhuma)'}\n</jurisprudencia_rag>\n\n<contexto_historico>\n${anteriorTexto}\n</contexto_historico>\n\n<contexto_adicional>\n${p.contexto_adicional || ''}\n</contexto_adicional>\n${templateBaseTexto}\n\n<instrucoes_resposta>\nRetorne um JSON com EXATAMENTE esta estrutura (sem campos extras no nível raiz, sem markdown):\n{\n  \"visao_geral\": \"resumo executivo do caso\",\n  \"pontos_fortes\": [\"string\"],\n  \"pontos_fracos\": [\"string\"],\n  \"analise_probatoria\": \"análise detalhada das provas\",\n  \"riscos\": [{\"descricao\": \"string\", \"severidade\": \"ALTO|MEDIO|BAIXO\", \"mitigacao\": \"string\"}],\n  \"recomendacoes\": [\"string\"],\n  \"chance_sucesso\": 1 ou 2 ou 3,\n  \"documentos_faltantes\": [\"string\"],\n  \"analise_tags\": [\n    {\n      \"tag_id\": \"uuid\",\n      \"tag_nome\": \"string\",\n      \"bloco_id\": \"uuid ou null\",\n      \"bloco_titulo\": \"string ou null\",\n      \"confianca\": 0.0-1.0,\n      \"justificativa\": \"por que escolheu este bloco\",\n      \"pergunta_usuario\": \"null ou string (quando confianca < 0.7)\"\n    }\n  ],\n  \"perguntas_triagem\": [\n    {\n      \"id\": \"string único\",\n      \"ordem\": 1,\n      \"texto\": \"pergunta para o usuário\",\n      \"tipo\": \"text|textarea|select|multiselect|date|number\",\n      \"obrigatoria\": true,\n      \"opcoes\": [],\n      \"tag_ref\": \"uuid ou null\",\n      \"contexto\": \"por que estamos perguntando\"\n    }\n  ],\n  \"peticao_base\": {\n    \"blocos_resolvidos\": [\n      {\n        \"tag_id\": \"uuid da tag ou null se tag nova\",\n        \"tag_nome\": \"nome da tag/seção\",\n        \"posicao\": 1,\n        \"bloco_id\": \"uuid do bloco do banco ou null se gerado\",\n        \"titulo_secao\": \"título da seção na petição\",\n        \"conteudo_html\": \"<h2>Título</h2><p>Conteúdo em HTML com <strong>negrito</strong></p>\",\n        \"tag_nova\": false,\n        \"confianca\": 0.92,\n        \"justificativa\": \"por que este bloco aqui\"\n      }\n    ],\n    \"tags_novas_criadas\": [\n      {\n        \"tag_nome\": \"nome da nova tag\",\n        \"posicao_entre\": [\"tag_id_anterior_ou_null\", \"tag_id_posterior_ou_null\"],\n        \"conteudo_html\": \"<p>Conteúdo HTML da seção nova</p>\",\n        \"justificativa\": \"por que criou esta seção extra\"\n      }\n    ],\n    \"total_blocos\": 0,\n    \"blocos_do_banco\": 0,\n    \"blocos_gerados\": 0\n  },\n  \"relatorio_processo\": {\n    \"visao_geral_executiva\": \"resumo executivo em 2-3 frases para o advogado\",\n    \"pontos_fortes\": [\"argumento forte com base nas provas\"],\n    \"pontos_fracos\": [\"vulnerabilidade a ser mitigada\"],\n    \"analise_probatoria_detalhada\": \"análise técnica completa\",\n    \"riscos_processuais\": [{\"descricao\": \"string\", \"severidade\": \"ALTO|MEDIO|BAIXO\", \"mitigacao\": \"string\"}],\n    \"recomendacoes_estrategicas\": [\"ação recomendada\"],\n    \"documentos_faltantes\": [\"documento que fortaleceria o caso\"],\n    \"jurisprudencias_aplicadas\": [\"apenas juris do banco fornecido\"],\n    \"chance_sucesso\": 1,\n    \"chance_sucesso_justificativa\": \"por que esta chance\"\n  },\n  \"categoria_analisada\": \"${p.categoria_nome}\",\n  \"playbook_aplicado\": \"${p.playbook?.nome || 'Genérico'}\",\n  \"tags_analisadas\": ${(p.tags || []).length},\n  \"tags_resolvidas\": 0,\n  \"tags_pendentes\": 0\n}\n\nREGRAS para peticao_base:\n- Seguir template_base como esqueleto OBRIGATÓRIO quando fornecido\n- Tags com confianca >= 0.7: gerar conteudo_html completo com o bloco escolhido\n- Tags com confianca < 0.7: conteudo_html = \"<p>{{NOME_DA_TAG}}</p>\" (placeholder)\n- HTML deve usar <h2> para títulos, <p> para parágrafos, <strong> para negrito jurídico\n- Jurisprudência SOMENTE do banco fornecido em jurisprudencia_rag\n- conteudo_html deve ser auto-suficiente (sem referências a outros blocos)\n\nThreshold de confiança: >= 0.7 → usa o bloco. < 0.7 → preenche pergunta_usuario e bloco_id = null.\n</instrucoes_resposta>`;\n\nreturn [{\n  json: {\n    ...p,\n    system_prompt: SYSTEM_PROMPT,\n    user_message: USER_MESSAGE\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5960,220],"id":"e2-preparar-input","name":"E2-PrepararInput-Claude"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $json.user_message }}"}]},"options":{"system":"={{ $json.system_prompt }}","maxTokens":8192,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1.7,"position":[6180,220],"id":"e3-claude-analise","name":"E3-Claude-Analise-Sonnet","credentials":{"anthropicApi":{"id":"k488pde7ZA11RgI3","name":"Anthropic account"}}},{"parameters":{"jsCode":"// E4 — Parse resultado do Claude + validação (v2 com peticao_base + relatorio)\nconst refs = $('E2-PrepararInput-Claude').first().json;\nconst output = $input.item.json;\n\n// Extrair texto (LangChain Anthropic node)\nlet raw = '';\nif (typeof output.text === 'string') {\n  raw = output.text;\n} else if (output.content && Array.isArray(output.content)) {\n  const textBlock = output.content.find(b => b.type === 'text');\n  raw = textBlock ? textBlock.text : '';\n}\n\n// Capturar tokens e custo (claude-sonnet-4-6: $3/$15 /M tokens)\nconst usage = output.usage || output.response_metadata?.usage || {};\nconst inputTokens = usage.input_tokens || 0;\nconst outputTokens = usage.output_tokens || 0;\nconst totalTokens = inputTokens + outputTokens;\nconst custoUsd = Number(((inputTokens * 3 + outputTokens * 15) / 1000000).toFixed(6));\n\n// Parse JSON\nlet resultado = null;\nlet parseOk = false;\n\ntry {\n  let clean = raw.trim();\n  clean = clean.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  const jsonStart = clean.indexOf('{');\n  if (jsonStart > 0) clean = clean.substring(jsonStart);\n  resultado = JSON.parse(clean);\n  parseOk = true;\n\n  // Normalizar campos array obrigatórios\n  const camposArray = ['pontos_fortes', 'pontos_fracos', 'riscos', 'recomendacoes', 'documentos_faltantes', 'analise_tags', 'perguntas_triagem'];\n  for (const field of camposArray) {\n    if (!Array.isArray(resultado[field])) resultado[field] = [];\n  }\n  if (!resultado.visao_geral) resultado.visao_geral = 'Análise concluída.';\n  const cs = parseInt(resultado.chance_sucesso);\n  resultado.chance_sucesso = (cs >= 1 && cs <= 3) ? cs : 2;\n\n  // Calcular tags_resolvidas e pendentes\n  const analise_tags = resultado.analise_tags || [];\n  resultado.tags_resolvidas = analise_tags.filter(t => t.confianca >= 0.7 && t.bloco_id).length;\n  resultado.tags_pendentes = analise_tags.filter(t => t.confianca < 0.7 || !t.bloco_id).length;\n\n  // Normalizar peticao_base\n  if (!resultado.peticao_base || typeof resultado.peticao_base !== 'object') {\n    resultado.peticao_base = { blocos_resolvidos: [], tags_novas_criadas: [], total_blocos: 0, blocos_do_banco: 0, blocos_gerados: 0 };\n  }\n  if (!Array.isArray(resultado.peticao_base.blocos_resolvidos)) resultado.peticao_base.blocos_resolvidos = [];\n  if (!Array.isArray(resultado.peticao_base.tags_novas_criadas)) resultado.peticao_base.tags_novas_criadas = [];\n\n  // Normalizar relatorio_processo\n  if (!resultado.relatorio_processo || typeof resultado.relatorio_processo !== 'object') {\n    resultado.relatorio_processo = {\n      visao_geral_executiva: resultado.visao_geral || '',\n      pontos_fortes: resultado.pontos_fortes || [],\n      pontos_fracos: resultado.pontos_fracos || [],\n      analise_probatoria_detalhada: resultado.analise_probatoria || '',\n      riscos_processuais: resultado.riscos || [],\n      recomendacoes_estrategicas: resultado.recomendacoes || [],\n      documentos_faltantes: resultado.documentos_faltantes || [],\n      jurisprudencias_aplicadas: [],\n      chance_sucesso: resultado.chance_sucesso || 2,\n      chance_sucesso_justificativa: ''\n    };\n  }\n  const rp = resultado.relatorio_processo;\n  if (!Array.isArray(rp.pontos_fortes)) rp.pontos_fortes = [];\n  if (!Array.isArray(rp.pontos_fracos)) rp.pontos_fracos = [];\n  if (!Array.isArray(rp.riscos_processuais)) rp.riscos_processuais = [];\n  if (!Array.isArray(rp.recomendacoes_estrategicas)) rp.recomendacoes_estrategicas = [];\n  if (!Array.isArray(rp.documentos_faltantes)) rp.documentos_faltantes = [];\n  if (!Array.isArray(rp.jurisprudencias_aplicadas)) rp.jurisprudencias_aplicadas = [];\n\n} catch (e) {\n  resultado = {\n    visao_geral: 'Análise concluída mas parsing falhou: ' + e.message,\n    pontos_fortes: [], pontos_fracos: [], analise_probatoria: raw.substring(0, 1000),\n    riscos: [], recomendacoes: [], chance_sucesso: 2, documentos_faltantes: [],\n    analise_tags: [], perguntas_triagem: [], tags_resolvidas: 0, tags_pendentes: 0,\n    categoria_analisada: refs.categoria_nome || '',\n    peticao_base: { blocos_resolvidos: [], tags_novas_criadas: [], total_blocos: 0, blocos_do_banco: 0, blocos_gerados: 0 },\n    relatorio_processo: {\n      visao_geral_executiva: 'Parsing do resultado falhou: ' + e.message,\n      pontos_fortes: [], pontos_fracos: [], analise_probatoria_detalhada: '',\n      riscos_processuais: [], recomendacoes_estrategicas: [], documentos_faltantes: [],\n      jurisprudencias_aplicadas: [], chance_sucesso: 2, chance_sucesso_justificativa: ''\n    }\n  };\n  parseOk = false;\n}\n\nreturn [{\n  json: {\n    analise_id: refs.analise_id,\n    organizacao_id: refs.organizacao_id,\n    processo_id: refs.processo_id,\n    resultado,\n    peticao_base: resultado.peticao_base,\n    relatorio_processo: resultado.relatorio_processo,\n    tags_resolvidas: resultado.tags_resolvidas,\n    tags_pendentes: resultado.tags_pendentes,\n    perguntas_triagem: resultado.perguntas_triagem,\n    meta: {\n      parse_ok: parseOk,\n      tokens_usados: totalTokens,\n      custo_usd: custoUsd,\n      modelo_usado: 'claude-sonnet-4-6'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,220],"id":"e4-parse-resultado","name":"E4-ParseResultado"},{"parameters":{"method":"PATCH","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({resultado: $json.resultado, status: $json.status, meta: {progresso: 95, fase: 'Salvando resultado...', parse_ok: $json.parse_ok, modelo: 'claude-sonnet-4-6', temperatura: 0.2, tokens: $json.tokens_usados, custo_usd: $json.custo_usd}, concluida_em: new Date().toISOString(), tokens_usados: $json.tokens_usados, custo_usd: $json.custo_usd, modelo_usado: $json.modelo_usado}) }}","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6620,220],"id":"f1-patch-analise","name":"F1-PATCH-olivia_analises"},{"parameters":{"method":"PATCH","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ia_resumo: {visao_geral: $('E4-ParseResultado').item.json.visao_geral, analise_id: $('E4-ParseResultado').item.json.analise_id, gerado_em: new Date().toISOString()}, chance_sucesso_ia: $('E4-ParseResultado').item.json.chance_sucesso}) }}","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('E4-ParseResultado').item.json.processo_id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6840,220],"id":"f2-update-processo","name":"F2-UPDATE-processos"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('E4-ParseResultado').item.json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"status\":  $('E4-ParseResultado').item.json.status, \"meta\": {progresso: 100, fase: 'Análise concluída!', parse_ok: $('E4-ParseResultado').item.json.parse_ok, modelo: 'claude-sonnet-4-6', tags_resolvidas: $('E4-ParseResultado').item.json.resultado.tags_resolvidas, tags_pendentes: $('E4-ParseResultado').item.json.resultado.tags_pendentes, perguntas_triagem_count: ($('E4-ParseResultado').item.json.resultado.perguntas_triagem || []).length} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7060,220],"id":"f3-update-100","name":"F3-UPDATE-100pct"},{"parameters":{"jsCode":"// F4 — Log final + UPDATE webhook_requests status\nconst analiseData = $('E4-ParseResultado').item.json;\nconst analise_id = analiseData.analise_id;\nconst request_id = $('WH-Analise').item.json.body.request_id;\nconst SUPA_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst HEADERS = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\nconsole.log('[OLIVIA-ANALISE-V3] Análise concluída:', analise_id, '| Status:', analiseData.status, '| Tokens:', analiseData.tokens_usados);\n\ntry {\n  await $helpers.httpRequest({\n    method: 'PATCH',\n    url: SUPA_URL + '/rest/v1/webhook_requests?webhook_nome=eq.olivia-analise-v3&status=eq.processing&payload->>request_id=eq.' + request_id,\n    headers: HEADERS,\n    body: { status: 'completed' }\n  });\n} catch(e) { console.error('[F4] Falha ao atualizar webhook_requests:', e.message); }\n\nreturn [{ json: { logged: true, analise_id, status: analiseData.status } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7280,220],"id":"f4-log-update","name":"F4-LogWebhook-UPDATE"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,600],"id":"error-trigger","name":"Error Trigger"},{"parameters":{"jsCode":"// ErrorHandler — logar erro e atualizar olivia_analises\nconst error = $input.item.json;\nconst SUPA_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst HEADERS = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\nconsole.error('[OLIVIA-ANALISE-V3] Erro:', error.message);\n\n// Tentar extrair analise_id do contexto de erro (handle both direct obj and array response)\nconst nodeData = error.execution?.data?.resultData?.runData?.['A4-INSERT-olivia_analises']?.[0]?.data?.main?.[0]?.[0]?.json;\nconst analise_id = Array.isArray(nodeData) ? nodeData[0]?.id : nodeData?.id;\n\nif (analise_id) {\n  try {\n    await $helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPA_URL}/rest/v1/olivia_analises?id=eq.${analise_id}`,\n      headers: HEADERS,\n      body: { status: 'ERRO', meta: { progresso: 0, fase: 'Erro: ' + (error.message || 'Erro desconhecido').substring(0, 200) } }\n    });\n  } catch(e) { console.error('Falha ao atualizar status de erro:', e.message); }\n}\n\nreturn [{ json: { handled: true, error: error.message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,600],"id":"error-handler","name":"ErrorHandler"},{"parameters":{"content":"## OLIVIA-ANALISE-V3\n\n**Versão:** 3.0 | **Data:** 2026-03-16\n\n### Fluxo:\n**A** → Webhook + Validação + INSERT analise (202)\n**B** → GET Processo + Tags/Blocos + Playbook\n**C** → Extração de Documentos (PDF)\n**D** → RAG dinâmico por tags\n**E** → Análise Claude Sonnet (tags + probatória)\n**F** → Salvar resultado + UPDATE processos\n\n### Novidades V3:\n- ✅ Output JSON obrigatório\n- ✅ Tags como perguntas → blocos como respostas\n- ✅ Perguntas triagem para Step 2 Express\n- ✅ Playbooks on-demand por categoria\n- ✅ RAG dinâmico por tags\n- ✅ UPDATE processos.ia_resumo + chance_sucesso_ia\n- ✅ API keys hardcoded diretamente\n- ✅ Threshold 70% para perguntas\n\n### RPC novas:\n- fn_get_tags_and_blocos_for_analise\n- fn_get_playbook_for_context (corrigida)\n\n**Processo de teste:** 48f876f0 (Mercado Pago)","height":400,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-100],"id":"sticky-header","name":"Sticky Note"},{"parameters":{"jsCode":"// B1-PREP — Extrair analise_id e processo_id para queries\nconst body = $('WH-Analise').item.json.body;\nconst analiseRaw = $('A4-INSERT-olivia_analises').item.json;\nconst analise = Array.isArray(analiseRaw) ? analiseRaw[0] : analiseRaw;\n\nreturn [{\n  json: {\n    analise_id: analise.id,\n    organizacao_id: body.organizacao_id,\n    request_id: body.request_id,\n    user_id: body.user_id,\n    processo_id: body.data.processo_id,\n    tipo_analise: body.data.tipo || 'PROVAS',\n    arquivos_input: body.data.arquivos || [],\n    contexto_adicional: body.data.contexto || '',\n    modelo_grupo_id: body.data.modelo_grupo_id || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,220],"id":"b1-prep","name":"B1-Prep"},{"parameters":{"method":"GET","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.processo_id }}"},{"name":"select","value":"id,numero_cnj,numero_processo,tipo_processo,objeto,valor_causa,valor_condenacao,grau,polo_representado,ia_resumo,chance_sucesso_ia,empresa_id,empresa:empresas(id,nome,cnpj,razao_social,nome_fantasia,segmento,categoria_id,analise_ia,categoria:empresas_categorias(id,nome)),cliente:clientes(id,nome,cpf_cnpj,rg,data_nascimento,email,telefone,endereco_logradouro,endereco_numero,endereco_complemento,endereco_bairro,cidade,endereco_uf,cep,profissao,estado_civil,nacionalidade,sexo),advogado:advogados(id,nome,oab,oab_uf,email,cabecalho_escritorio),comarca:comarcas_varas(id,comarca,vara,estado_id)"},{"name":"limit","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,220],"id":"b1-http-processo","name":"B1-HTTP-Processo"},{"parameters":{"method":"GET","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"processo_id","value":"=eq.{{ $('B1-Prep').item.json.processo_id }}"},{"name":"status","value":"eq.CONCLUIDA"},{"name":"order","value":"created_at.desc"},{"name":"limit","value":"1"},{"name":"select","value":"id,tipo,resultado,created_at"}]},"options":{"continueOnFail":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,220],"id":"b1-http-analise-ant","name":"B1-HTTP-AnaliseAnt"},{"parameters":{"jsCode":"// B1-PROCESS — Montar objeto completo do processo + buscar template do modelo\nconst https = require('https');\nconst SUPA_HOST = 'qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\n\nfunction supaGet(path) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({ hostname: SUPA_HOST, path, method: 'GET',\n      headers: { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json' }\n    }, (res) => {\n      let data = '';\n      res.on('data', c => { data += c; });\n      res.on('end', () => {\n        if (res.statusCode >= 400) return reject(new Error('SUPA ' + res.statusCode + ': ' + data.substring(0, 300)));\n        try { resolve(data ? JSON.parse(data) : null); } catch(e) { resolve(data); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n}\n\nconst ctx = $('B1-Prep').item.json;\nconst processosRaw = $('B1-HTTP-Processo').item.json;\nconst analisesResp = $('B1-HTTP-AnaliseAnt').item.json;\nconst analisesRaw = analisesResp?.body ?? analisesResp;\n\nconst processos = Array.isArray(processosRaw) ? processosRaw : [processosRaw];\nconst processo = processos[0];\nif (!processo || !processo.id) throw new Error('Processo não encontrado: ' + ctx.processo_id);\n\nconst empresa = processo.empresa || {};\nconst categoria = empresa.categoria || {};\nconst analises = Array.isArray(analisesRaw) ? analisesRaw : [];\nconst analise_anterior = analises[0] || null;\n\n// Buscar template do modelo se modelo_grupo_id foi fornecido\nlet modelo_template = null;\nif (ctx.modelo_grupo_id) {\n  try {\n    const grupos = await supaGet('/rest/v1/olivia_modelos_grupo?id=eq.' + ctx.modelo_grupo_id + '&select=id,nome,active_version_id');\n    const grupo = Array.isArray(grupos) && grupos[0] ? grupos[0] : null;\n    if (grupo && grupo.active_version_id) {\n      const versoes = await supaGet('/rest/v1/olivia_modelos_peticao?id=eq.' + grupo.active_version_id + '&select=id,nome,conteudo_template');\n      const versao = Array.isArray(versoes) && versoes[0] ? versoes[0] : null;\n      if (versao && versao.conteudo_template) {\n        modelo_template = { id: versao.id, nome: versao.nome, conteudo_template: versao.conteudo_template };\n      }\n    }\n  } catch(e) {\n    // Silently fail — análise continua sem template\n  }\n}\n\nreturn [{\n  json: {\n    analise_id: ctx.analise_id,\n    organizacao_id: ctx.organizacao_id,\n    request_id: ctx.request_id,\n    user_id: ctx.user_id,\n    processo_id: ctx.processo_id,\n    tipo_analise: ctx.tipo_analise,\n    arquivos_input: ctx.arquivos_input || [],\n    contexto_adicional: ctx.contexto_adicional || '',\n    modelo_grupo_id: ctx.modelo_grupo_id || null,\n    modelo_template: modelo_template,\n    processo: {\n      id: processo.id,\n      numero_cnj: processo.numero_cnj,\n      numero_processo: processo.numero_processo,\n      tipo_processo: processo.tipo_processo,\n      objeto: processo.objeto,\n      valor_causa: processo.valor_causa,\n      grau: processo.grau,\n      polo_representado: processo.polo_representado,\n      ia_resumo: processo.ia_resumo,\n      chance_sucesso_ia: processo.chance_sucesso_ia,\n      valor_condenacao: processo.valor_condenacao\n    },\n    empresa: {\n      id: empresa.id,\n      nome: empresa.nome,\n      cnpj: empresa.cnpj,\n      razao_social: empresa.razao_social,\n      segmento: empresa.segmento,\n      analise_ia: empresa.analise_ia\n    },\n    categoria_id: empresa.categoria_id,\n    categoria_nome: categoria.nome || 'Geral',\n    cliente: processo.cliente || {},\n    advogado: processo.advogado || {},\n    comarca: processo.comarca || {},\n    analise_anterior: analise_anterior,\n    ia_resumo_existente: processo.ia_resumo,\n    chance_sucesso_existente: processo.chance_sucesso_ia\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,220],"id":"b1-process","name":"B1-Process"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_get_tags_and_blocos_for_analise","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_organizacao_id: $json.organizacao_id, p_categoria_id: $json.categoria_id}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,220],"id":"b2-http-tags","name":"B2-HTTP-Tags"},{"parameters":{"jsCode":"// B2-PROCESS — Processar tags e blocos\nconst ctx = $('B1-Process').item.json;\nconst result = $('B2-HTTP-Tags').item.json;\n\nlet tags = [];\nlet blocos = [];\nlet categoria_nome = ctx.categoria_nome || 'Geral';\n\nif (result && !result.code) {\n  tags = result.tags || [];\n  blocos = (result.blocos || []).slice(0, 50);\n  categoria_nome = result.categoria_nome || categoria_nome;\n}\n\n// RAG query dinâmica\nconst tagTexts = tags.map(t => t.nome).join(' ');\nconst ragQuery = ([tagTexts, ctx.empresa?.nome || '', ctx.processo?.tipo_processo || '']\n  .filter(Boolean).join(' ') || 'restricao credito negativacao indevida direito consumidor').substring(0, 500);\n\nreturn [{\n  json: {\n    ...ctx,\n    categoria_nome,\n    tags,\n    blocos,\n    total_tags: tags.length,\n    total_blocos: blocos.length,\n    rag_query: ragQuery\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,220],"id":"b2-process","name":"B2-Process"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_get_playbook_for_context","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_organizacao_id: $json.organizacao_id, p_scope: 'analise', p_categoria_empresa_id: $json.categoria_id || null}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,220],"id":"b3-http-playbook","name":"B3-HTTP-Playbook"},{"parameters":{"jsCode":"// B3-PROCESS — Processar playbook\nconst ctx = $('B2-Process').item.json;\nconst results = $('B3-HTTP-Playbook').item.json;\nconst arr = Array.isArray(results) ? results : (results && !results.code ? [results] : []);\nconst playbook = arr[0] || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    playbook: (playbook && playbook.nome) ? {\n      encontrado: true,\n      nome: playbook.nome,\n      instrucoes: playbook.instrucoes || '',\n      match_level: playbook.match_level\n    } : {\n      encontrado: false,\n      nome: 'Genérico',\n      instrucoes: null,\n      match_level: null\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,220],"id":"b3-process","name":"B3-Process"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-has-docs","leftValue":"={{ $json._has_docs }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[3660,220],"id":"c1b-if-docs","name":"C1b-HasDocs?"},{"parameters":{"jsCode":"// Recuperar contexto do node anterior ao UPDATE\nreturn [{json: $('B3-Process').item.json}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,220],"id":"b4-passctx","name":"B4-PassCtx"},{"parameters":{"jsCode":"// Recuperar contexto - D1 pode não ter rodado (bypass sem docs)\nlet ctx;\ntry {\n  ctx = $('D1-ConsolidarDocs').item.json;\n} catch(e) {\n  // Bypass: sem docs, pegar contexto de B3-Process com campos extras\n  const b3ctx = $('B3-Process').item.json;\n  ctx = {\n    ...b3ctx,\n    docs_extraidos: [],\n    total_docs: 0,\n    qualidade_media: 0\n  };\n}\nreturn [{json: ctx}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4980,220],"id":"d2-passctx","name":"D2-PassCtx"},{"parameters":{"jsCode":"// Recuperar contexto de D5-MontarPacote\nreturn [{json: $('D5-MontarPacote').item.json}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5860,220],"id":"e1-passctx","name":"E1-PassCtx"},{"parameters":{"jsCode":"// D4b — Agregar resultados RAG (fullResponse ou array)\nconst items = $input.all();\n\nlet ragResults = [];\nfor (const item of items) {\n  const j = item.json;\n  // fullResponse: j.body é o array de resultados\n  if (j.body !== undefined) {\n    const body = Array.isArray(j.body) ? j.body : [];\n    ragResults = ragResults.concat(body);\n  } else if (j.id !== undefined) {\n    // Item direto do RAG\n    ragResults.push(j);\n  }\n}\n\n// Retornar sempre 1 item\nreturn [{ json: { _rag_results: ragResults } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4540,220],"id":"d4b-agg-rag","name":"D4b-AggRAG"},{"parameters":{"method":"GET","url":"={{ $json.signedURL.startsWith('http') ? $json.signedURL : 'https://qdivfairxhdihaqqypgb.supabase.co' + $json.signedURL }}","sendHeaders":false,"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4095,340],"id":"c3b-download-pdf","name":"C3b-DownloadPDF"}],"connections":{"WH-Analise":{"main":[[{"node":"A1-LogWebhook-INSERT","type":"main","index":0}]]},"A1-LogWebhook-INSERT":{"main":[[{"node":"A2-ValidatePayload","type":"main","index":0}]]},"A2-ValidatePayload":{"main":[[{"node":"A3-PayloadValido?","type":"main","index":0}]]},"A3-PayloadValido?":{"main":[[{"node":"A4-INSERT-olivia_analises","type":"main","index":0}],[{"node":"A-Respond-Error","type":"main","index":0}]]},"A4-INSERT-olivia_analises":{"main":[[{"node":"A-Respond-202","type":"main","index":0},{"node":"B1-Prep","type":"main","index":0}]]},"B4-UPDATE-Classificando":{"main":[[{"node":"B4-PassCtx","type":"main","index":0}]]},"C1-SplitDocs":{"main":[[{"node":"C1b-HasDocs?","type":"main","index":0}]]},"C2-Loop-Docs":{"main":[[{"node":"C3-FetchArquivo","type":"main","index":0}],[{"node":"D1-ConsolidarDocs","type":"main","index":0}]]},"C3-FetchArquivo":{"main":[[{"node":"C3b-DownloadPDF","type":"main","index":0}]]},"C4-ExtractPDF":{"main":[[{"node":"C5-FormatPDF","type":"main","index":0}]]},"C5-FormatPDF":{"main":[[{"node":"C2-Loop-Docs","type":"main","index":0}]]},"D1-ConsolidarDocs":{"main":[[{"node":"D2-UPDATE-50pct","type":"main","index":0}]]},"D2-UPDATE-50pct":{"main":[[{"node":"D2-PassCtx","type":"main","index":0}]]},"D3-GerarEmbedding":{"main":[[{"node":"D4-BuscarRAG","type":"main","index":0}]]},"D4-BuscarRAG":{"main":[[{"node":"D4b-AggRAG","type":"main","index":0}]]},"D5-MontarPacote":{"main":[[{"node":"E1-UPDATE-60pct","type":"main","index":0}]]},"E1-UPDATE-60pct":{"main":[[{"node":"E1-PassCtx","type":"main","index":0}]]},"E2-PrepararInput-Claude":{"main":[[{"node":"E3-Claude-Analise-Sonnet","type":"main","index":0}]]},"E3-Claude-Analise-Sonnet":{"main":[[{"node":"E4-ParseResultado","type":"main","index":0}]]},"E4-ParseResultado":{"main":[[{"node":"F1-PATCH-olivia_analises","type":"main","index":0}]]},"F1-PATCH-olivia_analises":{"main":[[{"node":"F2-UPDATE-processos","type":"main","index":0}]]},"F2-UPDATE-processos":{"main":[[{"node":"F3-UPDATE-100pct","type":"main","index":0}]]},"F3-UPDATE-100pct":{"main":[[{"node":"F4-LogWebhook-UPDATE","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ErrorHandler","type":"main","index":0}]]},"B1-Prep":{"main":[[{"node":"B1-HTTP-Processo","type":"main","index":0}]]},"B1-HTTP-Processo":{"main":[[{"node":"B1-HTTP-AnaliseAnt","type":"main","index":0}]]},"B1-HTTP-AnaliseAnt":{"main":[[{"node":"B1-Process","type":"main","index":0}]]},"B1-Process":{"main":[[{"node":"B2-HTTP-Tags","type":"main","index":0}]]},"B2-HTTP-Tags":{"main":[[{"node":"B2-Process","type":"main","index":0}]]},"B2-Process":{"main":[[{"node":"B3-HTTP-Playbook","type":"main","index":0}]]},"B3-HTTP-Playbook":{"main":[[{"node":"B3-Process","type":"main","index":0}]]},"B3-Process":{"main":[[{"node":"B4-UPDATE-Classificando","type":"main","index":0}]]},"C1b-HasDocs?":{"main":[[{"node":"C2-Loop-Docs","type":"main","index":0}],[{"node":"D2-UPDATE-50pct","type":"main","index":0}]]},"B4-PassCtx":{"main":[[{"node":"C1-SplitDocs","type":"main","index":0}]]},"D2-PassCtx":{"main":[[{"node":"D3-GerarEmbedding","type":"main","index":0}]]},"E1-PassCtx":{"main":[[{"node":"E2-PrepararInput-Claude","type":"main","index":0}]]},"D4b-AggRAG":{"main":[[{"node":"D5-MontarPacote","type":"main","index":0}]]},"C3b-DownloadPDF":{"main":[[{"node":"C4-ExtractPDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fc9401a9-aefd-404b-b0f5-771f4baf5b6c","activeVersionId":"fc9401a9-aefd-404b-b0f5-771f4baf5b6c","versionCounter":88,"triggerCount":1,"shared":[{"updatedAt":"2026-03-16T20:47:39.761Z","createdAt":"2026-03-16T20:47:39.761Z","role":"workflow:owner","workflowId":"8ntAvTGMhCfrlfRt","projectId":"dczOQl1cnUU4I3oq","project":{"updatedAt":"2025-03-24T20:12:17.896Z","createdAt":"2025-03-24T20:10:53.982Z","id":"dczOQl1cnUU4I3oq","name":"Christian Paz <contato@perinottipazadvogados.com>","type":"personal","icon":null,"description":null,"creatorId":"928a9878-85e2-4ee8-b61a-45a6f91d7381","projectRelations":[{"updatedAt":"2025-03-24T20:10:53.982Z","createdAt":"2025-03-24T20:10:53.982Z","userId":"928a9878-85e2-4ee8-b61a-45a6f91d7381","projectId":"dczOQl1cnUU4I3oq","user":{"updatedAt":"2026-03-16T04:28:43.763Z","createdAt":"2025-03-24T20:10:52.456Z","id":"928a9878-85e2-4ee8-b61a-45a6f91d7381","email":"contato@perinottipazadvogados.com","firstName":"Christian","lastName":"Paz","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-03-24T20:12:58.885Z","personalization_survey_n8n_version":"1.84.1","companyIndustryExtended":["legal-industry"],"companySize":"<20","companyType":"other","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"98jZs5mFIjRiRVfi","userActivatedAt":1756833162743,"npsSurvey":{"responded":true,"lastShownAt":1762284674248},"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-17T02:34:18.004Z","createdAt":"2026-03-17T02:34:18.004Z","versionId":"fc9401a9-aefd-404b-b0f5-771f4baf5b6c","workflowId":"8ntAvTGMhCfrlfRt","nodes":[{"parameters":{"httpMethod":"POST","path":"mdflow/olivia/analise","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,300],"id":"wh-analise-v3","name":"WH-Analise","webhookId":"olivia-analise-v3-webhook"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/webhook_requests","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  organizacao_id: $json.body.organizacao_id,\n  user_id: $json.body.user_id,\n  webhook_nome: 'olivia-analise-v3',\n  contexto: 'olivia.analise.v3',\n  rota_origem: '/webhook/mdflow/olivia/analise',\n  status: 'processing',\n  payload: $json.body\n}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"id":"a1-log-insert","name":"A1-LogWebhook-INSERT"},{"parameters":{"jsCode":"// A2 — Validação simples do payload\nconst body = $('WH-Analise').item.json.body;\nconst campos = ['request_id', 'organizacao_id', 'user_id'];\nconst camposData = ['processo_id'];\n\nconst erros = [];\nfor (const campo of campos) {\n  if (!body?.[campo]) erros.push(`Campo obrigatório ausente: ${campo}`);\n}\nfor (const campo of camposData) {\n  if (!body?.data?.[campo]) erros.push(`Campo obrigatório ausente em data: ${campo}`);\n}\n\nreturn [{ json: { valid: erros.length === 0, error: erros[0] || null, errors: erros } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[680,300],"id":"a2-validate","name":"A2-ValidatePayload"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid","leftValue":"={{ $json.valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[900,300],"id":"a3-if-valid","name":"A3-PayloadValido?"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  organizacao_id: $('WH-Analise').item.json.body.organizacao_id,\n  processo_id: $('WH-Analise').item.json.body.data.processo_id,\n  user_id: $('WH-Analise').item.json.body.user_id,\n  tipo: $('WH-Analise').item.json.body.data.tipo || 'PROVAS',\n  arquivos: $('WH-Analise').item.json.body.data.arquivos || [],\n  contexto: $('WH-Analise').item.json.body.data.contexto || '',\n  status: 'PROCESSANDO',\n  meta: {progresso: 5, fase: 'Iniciando análise...', request_id: $('WH-Analise').item.json.body.request_id}\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,220],"id":"a4-insert-analise","name":"A4-INSERT-olivia_analises"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success: true, analise_id: Array.isArray($json) ? $json[0].id : $json.id, status: 'PROCESSANDO', message: 'Análise iniciada. Use analise_id para polling.'}) }}","options":{"responseCode":202}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,220],"id":"a-respond-202","name":"A-Respond-202"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({success: false, error: $('A2-ValidatePayload').item.json.error || 'Payload inválido', code: 'VALIDATION_ERROR'}) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,400],"id":"a-respond-error","name":"A-Respond-Error"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 20, fase: 'Contexto carregado. Classificando documentos...', categoria: $json.categoria_nome, tags_count: $json.total_tags, playbook: $json.playbook.nome} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3320,220],"id":"b4-update-progress","name":"B4-UPDATE-Classificando"},{"parameters":{"jsCode":"// C1 — Preparar array de documentos para extração\nconst ctx = $('B3-Process').item.json;\nconst arquivos = ctx.arquivos_input || [];\n\nconst docs = arquivos.map(arq => ({\n  filename: arq.file_name || arq.filename || 'documento.pdf',\n  storage_path: arq.path || arq.storage_path || '',\n  mime_type: arq.mime_type || 'application/pdf',\n  documento_tipo: null,\n  extraction_model: null,\n  extracted: null,\n  qualidade_extracao: 0\n}));\n\n// Sempre retornar ao menos 1 item com o contexto\n// _has_docs indica se tem arquivos para processar\nif (docs.length === 0) {\n  return [{ json: { ...ctx, docs_extraidos: [], total_docs: 0, qualidade_media: 0, _has_docs: false } }];\n}\nreturn docs.map(d => ({ json: { ...ctx, doc_atual: d, _has_docs: true } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3540,220],"id":"c1-split-docs","name":"C1-SplitDocs"},{"parameters":{"batchSize":1,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3760,220],"id":"c2-loop-docs","name":"C2-Loop-Docs"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/storage/v1/object/sign/processos/{{ $json.doc_atual.storage_path }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"expiresIn\": 3600}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3980,220],"id":"c3-fetch-arquivo","name":"C3-FetchArquivo"},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[4200,220],"id":"c4-extract-pdf","name":"C4-ExtractPDF"},{"parameters":{"jsCode":"// C5 — Formatar texto extraído do PDF\nconst ctx = $('C2-Loop-Docs').item.json;\nconst extracted = $input.item;\n\nconst texto = extracted.json?.text || '';\nconst DOC_BUDGET = 20000; // chars por doc\nconst texto_truncado = texto.substring(0, DOC_BUDGET);\nconst qualidade = texto_truncado.trim().length > 100 ? 80 : 20;\n\nreturn [{\n  json: {\n    ...ctx,\n    doc_atual: {\n      ...ctx.doc_atual,\n      extracted: {\n        texto_completo: texto_truncado,\n        qualidade_extracao: qualidade,\n        method: 'pdf_native'\n      },\n      extraction_model: 'n8n-extract-pdf',\n      qualidade_extracao: qualidade\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4420,220],"id":"c5-format-pdf","name":"C5-FormatPDF"},{"parameters":{"jsCode":"// D1 — Consolidar todos os docs extraídos e preparar para análise\nconst allDocs = $input.all().map(item => item.json.doc_atual);\nconst ctx = $input.first().json;\n\n// Consolidar docs\nconst docs_extraidos = allDocs.filter(d => d && d.extracted);\nconst qualidade_media = docs_extraidos.length > 0\n  ? Math.round(docs_extraidos.reduce((s, d) => s + (d.qualidade_extracao || 0), 0) / docs_extraidos.length)\n  : 0;\n\nreturn [{\n  json: {\n    ...ctx,\n    docs_extraidos,\n    total_docs: docs_extraidos.length,\n    qualidade_media\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4640,220],"id":"d1-consolidar","name":"D1-ConsolidarDocs"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 50, fase: 'Documentos extraídos. Buscando jurisprudência relevante...', total_docs: $json.total_docs, qualidade_media: $json.qualidade_media} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4860,220],"id":"d2-update-50","name":"D2-UPDATE-50pct"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/embeddings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer OPENAI_KEY_REDACTED"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\"model\": \"text-embedding-ada-002\", \"input\": ($json.rag_query || 'analise juridica').substring(0, 8000)}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5080,220],"id":"d3-embedding","name":"D3-GerarEmbedding"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_rag_search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_query_embedding: $json.data[0].embedding, p_organizacao_id: $('D2-PassCtx').item.json.organizacao_id, p_source_types: ['jurisprudencia', 'peticao'], p_top_k: 8, p_min_score: 0.3, p_agent_key: 'olivia-analise-provas'}) }}","options":{"response":{"response":{"fullResponse":true}},"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5300,220],"id":"d4-rag-search","name":"D4-BuscarRAG"},{"parameters":{"jsCode":"// D5 — Montar pacote completo para análise\nconst ctx = $('D2-PassCtx').item.json;\nconst ragRaw = $input.item.json._rag_results || [];\n\nconst ragResults = Array.isArray(ragRaw) ? ragRaw : [];\nconst jurisprudencias = ragResults.map(c => ({\n  titulo: c.titulo,\n  conteudo: c.conteudo?.substring(0, 500),\n  score: c.score,\n  source_type: c.source_type,\n  tribunal: c.metadata?.tribunal || null\n}));\n\n// Truncar blocos para context window (max 200 chars cada)\nconst blocos_truncados = (ctx.blocos || []).map(b => ({\n  id: b.id,\n  titulo: b.titulo,\n  tag_ids: b.tag_ids,\n  conteudo_preview: (b.conteudo_preview || '').substring(0, 200)\n}));\n\nreturn [{\n  json: {\n    analise_id: ctx.analise_id,\n    organizacao_id: ctx.organizacao_id,\n    processo_id: ctx.processo_id,\n    request_id: ctx.request_id,\n    user_id: ctx.user_id,\n    tipo_analise: ctx.tipo_analise,\n    processo: ctx.processo,\n    empresa: ctx.empresa,\n    categoria_id: ctx.categoria_id,\n    categoria_nome: ctx.categoria_nome,\n    cliente: ctx.cliente,\n    advogado: ctx.advogado,\n    comarca: ctx.comarca,\n    docs_extraidos: ctx.docs_extraidos,\n    total_docs: ctx.total_docs,\n    qualidade_media: ctx.qualidade_media,\n    tags: ctx.tags || [],\n    total_tags: ctx.total_tags || 0,\n    blocos: blocos_truncados,\n    total_blocos: ctx.total_blocos || 0,\n    playbook: ctx.playbook,\n    jurisprudencias: {\n      total: jurisprudencias.length,\n      chunks: jurisprudencias\n    },\n    analise_anterior: ctx.analise_anterior,\n    modelo_template: ctx.modelo_template || null,\n    ia_resumo_existente: ctx.ia_resumo_existente || null,\n    chance_sucesso_existente: ctx.chance_sucesso_existente || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5520,220],"id":"d5-montar-pacote","name":"D5-MontarPacote"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"meta\": {progresso: 60, fase: 'Analisando perguntas da categoria...', tags_count: $json.total_tags, rag_count: $json.jurisprudencias.total} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5740,220],"id":"e1-update-60","name":"E1-UPDATE-60pct"},{"parameters":{"jsCode":"// E2 — Preparar input para Claude Sonnet (análise unificada + peticao_base + relatorio)\nconst p = $('D5-MontarPacote').item.json;\n\nconst SYSTEM_PROMPT = `<identidade>\nVocê é a OlivIA, analista probatória sênior do escritório Midas (MDX LegalTech).\nEspecializada em direito do consumidor, restrições de crédito e análise documental probatória.\n</identidade>\n\n<objetivo>\nRealizar análise probatória COMPLETA. Você deve:\n1. Analisar as provas documentais do processo\n2. Para cada TAG da categoria, decidir qual BLOCO DE TEXTO usar (ou gerar pergunta se incerto)\n3. Gerar uma PETIÇÃO BASE estruturada por blocos seguindo o template do modelo (quando fornecido)\n4. Gerar um RELATÓRIO EXECUTIVO completo do processo para o advogado\n5. Retornar SEMPRE um JSON válido e estruturado — NENHUM texto fora do JSON\n\nREGRA ABSOLUTA: Sua resposta é EXCLUSIVAMENTE um objeto JSON. Nenhum texto antes ou depois.\n</objetivo>\n\n<regra_jurisprudencia_absoluta>\nREGRA ABSOLUTA: Você SOMENTE pode citar jurisprudências presentes em <jurisprudencia_rag>.\nNÃO invente, NÃO cite STJ/STF/TJRS ou qualquer tribunal que não esteja no banco fornecido.\nSe não há jurisprudência relevante no banco, NÃO cite nenhuma — omita a seção de jurisprudência.\n</regra_jurisprudencia_absoluta>\n\n<legislacao_base>\n- CDC Art. 43: Cadastros de inadimplentes — prazo máximo 5 anos, comunicação prévia obrigatória\n- CDC Art. 14: Responsabilidade objetiva do fornecedor\n- CDC Art. 6, VIII: Inversão do ônus da prova\n- CDC Art. 42: Vedação de exposição ao ridículo na cobrança\n- CC Art. 186 e 927: Responsabilidade civil por ato ilícito\n- Súmula 385 STJ: Negativação preexistente legítima afasta dano moral\n- Súmula 479 STJ: Responsabilidade objetiva de instituições financeiras\n- Súmula 359 STJ: Comunicação prévia ao consumidor obrigatória\n- Dano moral in re ipsa em negativação indevida\n</legislacao_base>\n\n<playbook_categoria>\n${p.playbook?.instrucoes || 'Análise padrão — sem playbook específico para esta categoria.'}\n</playbook_categoria>`;\n\n// Documentos extraídos\nconst TOTAL_DOC_BUDGET = 80000;\nlet usedChars = 0;\nconst docsTexto = (p.docs_extraidos || []).map((d, i) => {\n  if (usedChars >= TOTAL_DOC_BUDGET) return null;\n  const textoRaw = d.extracted?.texto_completo?.substring(0, 15000) || '(sem texto extraído)';\n  const texto = textoRaw.substring(0, TOTAL_DOC_BUDGET - usedChars);\n  usedChars += texto.length;\n  return `[DOC ${i+1}: ${d.filename}]\\n${texto}`;\n}).filter(Boolean).join('\\n\\n---\\n\\n');\n\nconst tagsTexto = (p.tags || []).map(t =>\n  `Tag ID: ${t.id} | Código: ${t.codigo} | Nome: ${t.nome}`\n).join('\\n');\n\nconst blocosTexto = (p.blocos || []).map(b =>\n  `Bloco ID: ${b.id} | Titulo: ${b.titulo}\\nPreview: ${b.conteudo_preview}`\n).join('\\n---\\n');\n\nconst jurisTexto = (p.jurisprudencias?.chunks || []).map((j, i) =>\n  `[JURIS ${i+1}] ${j.titulo} (score: ${j.score?.toFixed(2)})\\n${j.conteudo}`\n).join('\\n\\n');\n\nconst anteriorTexto = p.analise_anterior\n  ? `ANÁLISE ANTERIOR (${p.analise_anterior.created_at?.substring(0,10)}): ${JSON.stringify(p.analise_anterior.resultado?.visao_geral || '').substring(0, 500)}`\n  : 'Primeira análise deste processo.';\n\nconst resumoIATexto = p.ia_resumo_existente\n  ? `\\n\\n<resumo_processo_ia>\\n${p.ia_resumo_existente}\\n</resumo_processo_ia>`\n  : '';\n\nconst templateBaseTexto = p.modelo_template?.conteudo_template\n  ? `\\n\\n<template_base_peticao nome=\"${p.modelo_template.nome || ''}\">\nEste é o esqueleto do modelo de petição do advogado. Use como estrutura base OBRIGATÓRIA.\nSiga EXATAMENTE a estrutura de seções/tags. Pode criar novas tags entre as existentes.\n${p.modelo_template.conteudo_template}\n</template_base_peticao>`\n  : '';\n\nconst USER_MESSAGE = `<processo>\nNúmero: ${p.processo?.numero_cnj || p.processo?.numero_processo || 'N/A'}\nTipo: ${p.processo?.tipo_processo || 'N/A'}\nObjeto: ${p.processo?.objeto || 'N/A'}\nEmpresa Ré: ${p.empresa?.nome || 'N/A'}\nCategoria: ${p.categoria_nome}\nCliente: ${p.cliente?.nome || 'N/A'}\nPolo: ${p.processo?.polo_representado || 'autor'}\nValor da Causa: ${p.processo?.valor_causa ? 'R$ ' + p.processo.valor_causa : 'N/A'}\n</processo>\n${resumoIATexto}\n\n<documentos_extraidos>\n${docsTexto || '(Nenhum documento enviado)'}\n</documentos_extraidos>\n\n<tags_da_categoria title=\"Tags = perguntas que a IA deve responder com blocos\">\n${tagsTexto || '(Nenhuma tag cadastrada para esta categoria)'}\n</tags_da_categoria>\n\n<blocos_disponiveis title=\"Blocos = opções de resposta para as tags\">\n${blocosTexto || '(Nenhum bloco cadastrado)'}\n</blocos_disponiveis>\n\n<jurisprudencia_rag>\n${jurisTexto || '(Sem jurisprudência encontrada no banco — NÃO cite nenhuma)'}\n</jurisprudencia_rag>\n\n<contexto_historico>\n${anteriorTexto}\n</contexto_historico>\n\n<contexto_adicional>\n${p.contexto_adicional || ''}\n</contexto_adicional>\n${templateBaseTexto}\n\n<instrucoes_resposta>\nRetorne um JSON com EXATAMENTE esta estrutura (sem campos extras no nível raiz, sem markdown):\n{\n  \"visao_geral\": \"resumo executivo do caso\",\n  \"pontos_fortes\": [\"string\"],\n  \"pontos_fracos\": [\"string\"],\n  \"analise_probatoria\": \"análise detalhada das provas\",\n  \"riscos\": [{\"descricao\": \"string\", \"severidade\": \"ALTO|MEDIO|BAIXO\", \"mitigacao\": \"string\"}],\n  \"recomendacoes\": [\"string\"],\n  \"chance_sucesso\": 1 ou 2 ou 3,\n  \"documentos_faltantes\": [\"string\"],\n  \"analise_tags\": [\n    {\n      \"tag_id\": \"uuid\",\n      \"tag_nome\": \"string\",\n      \"bloco_id\": \"uuid ou null\",\n      \"bloco_titulo\": \"string ou null\",\n      \"confianca\": 0.0-1.0,\n      \"justificativa\": \"por que escolheu este bloco\",\n      \"pergunta_usuario\": \"null ou string (quando confianca < 0.7)\"\n    }\n  ],\n  \"perguntas_triagem\": [\n    {\n      \"id\": \"string único\",\n      \"ordem\": 1,\n      \"texto\": \"pergunta para o usuário\",\n      \"tipo\": \"text|textarea|select|multiselect|date|number\",\n      \"obrigatoria\": true,\n      \"opcoes\": [],\n      \"tag_ref\": \"uuid ou null\",\n      \"contexto\": \"por que estamos perguntando\"\n    }\n  ],\n  \"peticao_base\": {\n    \"blocos_resolvidos\": [\n      {\n        \"tag_id\": \"uuid da tag ou null se tag nova\",\n        \"tag_nome\": \"nome da tag/seção\",\n        \"posicao\": 1,\n        \"bloco_id\": \"uuid do bloco do banco ou null se gerado\",\n        \"titulo_secao\": \"título da seção na petição\",\n        \"conteudo_html\": \"<h2>Título</h2><p>Conteúdo em HTML com <strong>negrito</strong></p>\",\n        \"tag_nova\": false,\n        \"confianca\": 0.92,\n        \"justificativa\": \"por que este bloco aqui\"\n      }\n    ],\n    \"tags_novas_criadas\": [\n      {\n        \"tag_nome\": \"nome da nova tag\",\n        \"posicao_entre\": [\"tag_id_anterior_ou_null\", \"tag_id_posterior_ou_null\"],\n        \"conteudo_html\": \"<p>Conteúdo HTML da seção nova</p>\",\n        \"justificativa\": \"por que criou esta seção extra\"\n      }\n    ],\n    \"total_blocos\": 0,\n    \"blocos_do_banco\": 0,\n    \"blocos_gerados\": 0\n  },\n  \"relatorio_processo\": {\n    \"visao_geral_executiva\": \"resumo executivo em 2-3 frases para o advogado\",\n    \"pontos_fortes\": [\"argumento forte com base nas provas\"],\n    \"pontos_fracos\": [\"vulnerabilidade a ser mitigada\"],\n    \"analise_probatoria_detalhada\": \"análise técnica completa\",\n    \"riscos_processuais\": [{\"descricao\": \"string\", \"severidade\": \"ALTO|MEDIO|BAIXO\", \"mitigacao\": \"string\"}],\n    \"recomendacoes_estrategicas\": [\"ação recomendada\"],\n    \"documentos_faltantes\": [\"documento que fortaleceria o caso\"],\n    \"jurisprudencias_aplicadas\": [\"apenas juris do banco fornecido\"],\n    \"chance_sucesso\": 1,\n    \"chance_sucesso_justificativa\": \"por que esta chance\"\n  },\n  \"categoria_analisada\": \"${p.categoria_nome}\",\n  \"playbook_aplicado\": \"${p.playbook?.nome || 'Genérico'}\",\n  \"tags_analisadas\": ${(p.tags || []).length},\n  \"tags_resolvidas\": 0,\n  \"tags_pendentes\": 0\n}\n\nREGRAS para peticao_base:\n- Seguir template_base como esqueleto OBRIGATÓRIO quando fornecido\n- Tags com confianca >= 0.7: gerar conteudo_html completo com o bloco escolhido\n- Tags com confianca < 0.7: conteudo_html = \"<p>{{NOME_DA_TAG}}</p>\" (placeholder)\n- HTML deve usar <h2> para títulos, <p> para parágrafos, <strong> para negrito jurídico\n- Jurisprudência SOMENTE do banco fornecido em jurisprudencia_rag\n- conteudo_html deve ser auto-suficiente (sem referências a outros blocos)\n\nThreshold de confiança: >= 0.7 → usa o bloco. < 0.7 → preenche pergunta_usuario e bloco_id = null.\n</instrucoes_resposta>`;\n\nreturn [{\n  json: {\n    ...p,\n    system_prompt: SYSTEM_PROMPT,\n    user_message: USER_MESSAGE\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5960,220],"id":"e2-preparar-input","name":"E2-PrepararInput-Claude"},{"parameters":{"modelId":{"__rl":true,"value":"claude-sonnet-4-6","mode":"list","cachedResultName":"claude-sonnet-4-6"},"messages":{"values":[{"content":"={{ $json.user_message }}"}]},"options":{"system":"={{ $json.system_prompt }}","maxTokens":8192,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1.7,"position":[6180,220],"id":"e3-claude-analise","name":"E3-Claude-Analise-Sonnet","credentials":{"anthropicApi":{"id":"k488pde7ZA11RgI3","name":"Anthropic account"}}},{"parameters":{"jsCode":"// E4 — Parse resultado do Claude + validação (v2 com peticao_base + relatorio)\nconst refs = $('E2-PrepararInput-Claude').first().json;\nconst output = $input.item.json;\n\n// Extrair texto (LangChain Anthropic node)\nlet raw = '';\nif (typeof output.text === 'string') {\n  raw = output.text;\n} else if (output.content && Array.isArray(output.content)) {\n  const textBlock = output.content.find(b => b.type === 'text');\n  raw = textBlock ? textBlock.text : '';\n}\n\n// Capturar tokens e custo (claude-sonnet-4-6: $3/$15 /M tokens)\nconst usage = output.usage || output.response_metadata?.usage || {};\nconst inputTokens = usage.input_tokens || 0;\nconst outputTokens = usage.output_tokens || 0;\nconst totalTokens = inputTokens + outputTokens;\nconst custoUsd = Number(((inputTokens * 3 + outputTokens * 15) / 1000000).toFixed(6));\n\n// Parse JSON\nlet resultado = null;\nlet parseOk = false;\n\ntry {\n  let clean = raw.trim();\n  clean = clean.replace(/^```json\\s*/i, '').replace(/```\\s*$/i, '').trim();\n  const jsonStart = clean.indexOf('{');\n  if (jsonStart > 0) clean = clean.substring(jsonStart);\n  resultado = JSON.parse(clean);\n  parseOk = true;\n\n  // Normalizar campos array obrigatórios\n  const camposArray = ['pontos_fortes', 'pontos_fracos', 'riscos', 'recomendacoes', 'documentos_faltantes', 'analise_tags', 'perguntas_triagem'];\n  for (const field of camposArray) {\n    if (!Array.isArray(resultado[field])) resultado[field] = [];\n  }\n  if (!resultado.visao_geral) resultado.visao_geral = 'Análise concluída.';\n  const cs = parseInt(resultado.chance_sucesso);\n  resultado.chance_sucesso = (cs >= 1 && cs <= 3) ? cs : 2;\n\n  // Calcular tags_resolvidas e pendentes\n  const analise_tags = resultado.analise_tags || [];\n  resultado.tags_resolvidas = analise_tags.filter(t => t.confianca >= 0.7 && t.bloco_id).length;\n  resultado.tags_pendentes = analise_tags.filter(t => t.confianca < 0.7 || !t.bloco_id).length;\n\n  // Normalizar peticao_base\n  if (!resultado.peticao_base || typeof resultado.peticao_base !== 'object') {\n    resultado.peticao_base = { blocos_resolvidos: [], tags_novas_criadas: [], total_blocos: 0, blocos_do_banco: 0, blocos_gerados: 0 };\n  }\n  if (!Array.isArray(resultado.peticao_base.blocos_resolvidos)) resultado.peticao_base.blocos_resolvidos = [];\n  if (!Array.isArray(resultado.peticao_base.tags_novas_criadas)) resultado.peticao_base.tags_novas_criadas = [];\n\n  // Normalizar relatorio_processo\n  if (!resultado.relatorio_processo || typeof resultado.relatorio_processo !== 'object') {\n    resultado.relatorio_processo = {\n      visao_geral_executiva: resultado.visao_geral || '',\n      pontos_fortes: resultado.pontos_fortes || [],\n      pontos_fracos: resultado.pontos_fracos || [],\n      analise_probatoria_detalhada: resultado.analise_probatoria || '',\n      riscos_processuais: resultado.riscos || [],\n      recomendacoes_estrategicas: resultado.recomendacoes || [],\n      documentos_faltantes: resultado.documentos_faltantes || [],\n      jurisprudencias_aplicadas: [],\n      chance_sucesso: resultado.chance_sucesso || 2,\n      chance_sucesso_justificativa: ''\n    };\n  }\n  const rp = resultado.relatorio_processo;\n  if (!Array.isArray(rp.pontos_fortes)) rp.pontos_fortes = [];\n  if (!Array.isArray(rp.pontos_fracos)) rp.pontos_fracos = [];\n  if (!Array.isArray(rp.riscos_processuais)) rp.riscos_processuais = [];\n  if (!Array.isArray(rp.recomendacoes_estrategicas)) rp.recomendacoes_estrategicas = [];\n  if (!Array.isArray(rp.documentos_faltantes)) rp.documentos_faltantes = [];\n  if (!Array.isArray(rp.jurisprudencias_aplicadas)) rp.jurisprudencias_aplicadas = [];\n\n} catch (e) {\n  resultado = {\n    visao_geral: 'Análise concluída mas parsing falhou: ' + e.message,\n    pontos_fortes: [], pontos_fracos: [], analise_probatoria: raw.substring(0, 1000),\n    riscos: [], recomendacoes: [], chance_sucesso: 2, documentos_faltantes: [],\n    analise_tags: [], perguntas_triagem: [], tags_resolvidas: 0, tags_pendentes: 0,\n    categoria_analisada: refs.categoria_nome || '',\n    peticao_base: { blocos_resolvidos: [], tags_novas_criadas: [], total_blocos: 0, blocos_do_banco: 0, blocos_gerados: 0 },\n    relatorio_processo: {\n      visao_geral_executiva: 'Parsing do resultado falhou: ' + e.message,\n      pontos_fortes: [], pontos_fracos: [], analise_probatoria_detalhada: '',\n      riscos_processuais: [], recomendacoes_estrategicas: [], documentos_faltantes: [],\n      jurisprudencias_aplicadas: [], chance_sucesso: 2, chance_sucesso_justificativa: ''\n    }\n  };\n  parseOk = false;\n}\n\nreturn [{\n  json: {\n    analise_id: refs.analise_id,\n    organizacao_id: refs.organizacao_id,\n    processo_id: refs.processo_id,\n    resultado,\n    peticao_base: resultado.peticao_base,\n    relatorio_processo: resultado.relatorio_processo,\n    tags_resolvidas: resultado.tags_resolvidas,\n    tags_pendentes: resultado.tags_pendentes,\n    perguntas_triagem: resultado.perguntas_triagem,\n    meta: {\n      parse_ok: parseOk,\n      tokens_usados: totalTokens,\n      custo_usd: custoUsd,\n      modelo_usado: 'claude-sonnet-4-6'\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6400,220],"id":"e4-parse-resultado","name":"E4-ParseResultado"},{"parameters":{"method":"PATCH","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({resultado: $json.resultado, status: $json.status, meta: {progresso: 95, fase: 'Salvando resultado...', parse_ok: $json.parse_ok, modelo: 'claude-sonnet-4-6', temperatura: 0.2, tokens: $json.tokens_usados, custo_usd: $json.custo_usd}, concluida_em: new Date().toISOString(), tokens_usados: $json.tokens_usados, custo_usd: $json.custo_usd, modelo_usado: $json.modelo_usado}) }}","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.analise_id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6620,220],"id":"f1-patch-analise","name":"F1-PATCH-olivia_analises"},{"parameters":{"method":"PATCH","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ia_resumo: {visao_geral: $('E4-ParseResultado').item.json.visao_geral, analise_id: $('E4-ParseResultado').item.json.analise_id, gerado_em: new Date().toISOString()}, chance_sucesso_ia: $('E4-ParseResultado').item.json.chance_sucesso}) }}","options":{},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('E4-ParseResultado').item.json.processo_id }}"}]}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6840,220],"id":"f2-update-processo","name":"F2-UPDATE-processos"},{"parameters":{"method":"PATCH","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $('E4-ParseResultado').item.json.analise_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \"status\":  $('E4-ParseResultado').item.json.status, \"meta\": {progresso: 100, fase: 'Análise concluída!', parse_ok: $('E4-ParseResultado').item.json.parse_ok, modelo: 'claude-sonnet-4-6', tags_resolvidas: $('E4-ParseResultado').item.json.resultado.tags_resolvidas, tags_pendentes: $('E4-ParseResultado').item.json.resultado.tags_pendentes, perguntas_triagem_count: ($('E4-ParseResultado').item.json.resultado.perguntas_triagem || []).length} }) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7060,220],"id":"f3-update-100","name":"F3-UPDATE-100pct"},{"parameters":{"jsCode":"// F4 — Log final + UPDATE webhook_requests status\nconst analiseData = $('E4-ParseResultado').item.json;\nconst analise_id = analiseData.analise_id;\nconst request_id = $('WH-Analise').item.json.body.request_id;\nconst SUPA_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst HEADERS = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\nconsole.log('[OLIVIA-ANALISE-V3] Análise concluída:', analise_id, '| Status:', analiseData.status, '| Tokens:', analiseData.tokens_usados);\n\ntry {\n  await $helpers.httpRequest({\n    method: 'PATCH',\n    url: SUPA_URL + '/rest/v1/webhook_requests?webhook_nome=eq.olivia-analise-v3&status=eq.processing&payload->>request_id=eq.' + request_id,\n    headers: HEADERS,\n    body: { status: 'completed' }\n  });\n} catch(e) { console.error('[F4] Falha ao atualizar webhook_requests:', e.message); }\n\nreturn [{ json: { logged: true, analise_id, status: analiseData.status } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7280,220],"id":"f4-log-update","name":"F4-LogWebhook-UPDATE"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[240,600],"id":"error-trigger","name":"Error Trigger"},{"parameters":{"jsCode":"// ErrorHandler — logar erro e atualizar olivia_analises\nconst error = $input.item.json;\nconst SUPA_URL = 'https://qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\nconst HEADERS = { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' };\n\nconsole.error('[OLIVIA-ANALISE-V3] Erro:', error.message);\n\n// Tentar extrair analise_id do contexto de erro (handle both direct obj and array response)\nconst nodeData = error.execution?.data?.resultData?.runData?.['A4-INSERT-olivia_analises']?.[0]?.data?.main?.[0]?.[0]?.json;\nconst analise_id = Array.isArray(nodeData) ? nodeData[0]?.id : nodeData?.id;\n\nif (analise_id) {\n  try {\n    await $helpers.httpRequest({\n      method: 'PATCH',\n      url: `${SUPA_URL}/rest/v1/olivia_analises?id=eq.${analise_id}`,\n      headers: HEADERS,\n      body: { status: 'ERRO', meta: { progresso: 0, fase: 'Erro: ' + (error.message || 'Erro desconhecido').substring(0, 200) } }\n    });\n  } catch(e) { console.error('Falha ao atualizar status de erro:', e.message); }\n}\n\nreturn [{ json: { handled: true, error: error.message } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,600],"id":"error-handler","name":"ErrorHandler"},{"parameters":{"content":"## OLIVIA-ANALISE-V3\n\n**Versão:** 3.0 | **Data:** 2026-03-16\n\n### Fluxo:\n**A** → Webhook + Validação + INSERT analise (202)\n**B** → GET Processo + Tags/Blocos + Playbook\n**C** → Extração de Documentos (PDF)\n**D** → RAG dinâmico por tags\n**E** → Análise Claude Sonnet (tags + probatória)\n**F** → Salvar resultado + UPDATE processos\n\n### Novidades V3:\n- ✅ Output JSON obrigatório\n- ✅ Tags como perguntas → blocos como respostas\n- ✅ Perguntas triagem para Step 2 Express\n- ✅ Playbooks on-demand por categoria\n- ✅ RAG dinâmico por tags\n- ✅ UPDATE processos.ia_resumo + chance_sucesso_ia\n- ✅ API keys hardcoded diretamente\n- ✅ Threshold 70% para perguntas\n\n### RPC novas:\n- fn_get_tags_and_blocos_for_analise\n- fn_get_playbook_for_context (corrigida)\n\n**Processo de teste:** 48f876f0 (Mercado Pago)","height":400,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-100],"id":"sticky-header","name":"Sticky Note"},{"parameters":{"jsCode":"// B1-PREP — Extrair analise_id e processo_id para queries\nconst body = $('WH-Analise').item.json.body;\nconst analiseRaw = $('A4-INSERT-olivia_analises').item.json;\nconst analise = Array.isArray(analiseRaw) ? analiseRaw[0] : analiseRaw;\n\nreturn [{\n  json: {\n    analise_id: analise.id,\n    organizacao_id: body.organizacao_id,\n    request_id: body.request_id,\n    user_id: body.user_id,\n    processo_id: body.data.processo_id,\n    tipo_analise: body.data.tipo || 'PROVAS',\n    arquivos_input: body.data.arquivos || [],\n    contexto_adicional: body.data.contexto || '',\n    modelo_grupo_id: body.data.modelo_grupo_id || null\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,220],"id":"b1-prep","name":"B1-Prep"},{"parameters":{"method":"GET","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/processos","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.processo_id }}"},{"name":"select","value":"id,numero_cnj,numero_processo,tipo_processo,objeto,valor_causa,valor_condenacao,grau,polo_representado,ia_resumo,chance_sucesso_ia,empresa_id,empresa:empresas(id,nome,cnpj,razao_social,nome_fantasia,segmento,categoria_id,analise_ia,categoria:empresas_categorias(id,nome)),cliente:clientes(id,nome,cpf_cnpj,rg,data_nascimento,email,telefone,endereco_logradouro,endereco_numero,endereco_complemento,endereco_bairro,cidade,endereco_uf,cep,profissao,estado_civil,nacionalidade,sexo),advogado:advogados(id,nome,oab,oab_uf,email,cabecalho_escritorio),comarca:comarcas_varas(id,comarca,vara,estado_id)"},{"name":"limit","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,220],"id":"b1-http-processo","name":"B1-HTTP-Processo"},{"parameters":{"method":"GET","url":"=https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/olivia_analises","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"processo_id","value":"=eq.{{ $('B1-Prep').item.json.processo_id }}"},{"name":"status","value":"eq.CONCLUIDA"},{"name":"order","value":"created_at.desc"},{"name":"limit","value":"1"},{"name":"select","value":"id,tipo,resultado,created_at"}]},"options":{"continueOnFail":true,"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,220],"id":"b1-http-analise-ant","name":"B1-HTTP-AnaliseAnt"},{"parameters":{"jsCode":"// B1-PROCESS — Montar objeto completo do processo + buscar template do modelo\nconst https = require('https');\nconst SUPA_HOST = 'qdivfairxhdihaqqypgb.supabase.co';\nconst SUPA_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY';\n\nfunction supaGet(path) {\n  return new Promise((resolve, reject) => {\n    const req = https.request({ hostname: SUPA_HOST, path, method: 'GET',\n      headers: { 'apikey': SUPA_KEY, 'Authorization': 'Bearer ' + SUPA_KEY, 'Content-Type': 'application/json' }\n    }, (res) => {\n      let data = '';\n      res.on('data', c => { data += c; });\n      res.on('end', () => {\n        if (res.statusCode >= 400) return reject(new Error('SUPA ' + res.statusCode + ': ' + data.substring(0, 300)));\n        try { resolve(data ? JSON.parse(data) : null); } catch(e) { resolve(data); }\n      });\n    });\n    req.on('error', reject);\n    req.setTimeout(15000, () => { req.destroy(); reject(new Error('timeout')); });\n    req.end();\n  });\n}\n\nconst ctx = $('B1-Prep').item.json;\nconst processosRaw = $('B1-HTTP-Processo').item.json;\nconst analisesResp = $('B1-HTTP-AnaliseAnt').item.json;\nconst analisesRaw = analisesResp?.body ?? analisesResp;\n\nconst processos = Array.isArray(processosRaw) ? processosRaw : [processosRaw];\nconst processo = processos[0];\nif (!processo || !processo.id) throw new Error('Processo não encontrado: ' + ctx.processo_id);\n\nconst empresa = processo.empresa || {};\nconst categoria = empresa.categoria || {};\nconst analises = Array.isArray(analisesRaw) ? analisesRaw : [];\nconst analise_anterior = analises[0] || null;\n\n// Buscar template do modelo se modelo_grupo_id foi fornecido\nlet modelo_template = null;\nif (ctx.modelo_grupo_id) {\n  try {\n    const grupos = await supaGet('/rest/v1/olivia_modelos_grupo?id=eq.' + ctx.modelo_grupo_id + '&select=id,nome,active_version_id');\n    const grupo = Array.isArray(grupos) && grupos[0] ? grupos[0] : null;\n    if (grupo && grupo.active_version_id) {\n      const versoes = await supaGet('/rest/v1/olivia_modelos_peticao?id=eq.' + grupo.active_version_id + '&select=id,nome,conteudo_template');\n      const versao = Array.isArray(versoes) && versoes[0] ? versoes[0] : null;\n      if (versao && versao.conteudo_template) {\n        modelo_template = { id: versao.id, nome: versao.nome, conteudo_template: versao.conteudo_template };\n      }\n    }\n  } catch(e) {\n    // Silently fail — análise continua sem template\n  }\n}\n\nreturn [{\n  json: {\n    analise_id: ctx.analise_id,\n    organizacao_id: ctx.organizacao_id,\n    request_id: ctx.request_id,\n    user_id: ctx.user_id,\n    processo_id: ctx.processo_id,\n    tipo_analise: ctx.tipo_analise,\n    arquivos_input: ctx.arquivos_input || [],\n    contexto_adicional: ctx.contexto_adicional || '',\n    modelo_grupo_id: ctx.modelo_grupo_id || null,\n    modelo_template: modelo_template,\n    processo: {\n      id: processo.id,\n      numero_cnj: processo.numero_cnj,\n      numero_processo: processo.numero_processo,\n      tipo_processo: processo.tipo_processo,\n      objeto: processo.objeto,\n      valor_causa: processo.valor_causa,\n      grau: processo.grau,\n      polo_representado: processo.polo_representado,\n      ia_resumo: processo.ia_resumo,\n      chance_sucesso_ia: processo.chance_sucesso_ia,\n      valor_condenacao: processo.valor_condenacao\n    },\n    empresa: {\n      id: empresa.id,\n      nome: empresa.nome,\n      cnpj: empresa.cnpj,\n      razao_social: empresa.razao_social,\n      segmento: empresa.segmento,\n      analise_ia: empresa.analise_ia\n    },\n    categoria_id: empresa.categoria_id,\n    categoria_nome: categoria.nome || 'Geral',\n    cliente: processo.cliente || {},\n    advogado: processo.advogado || {},\n    comarca: processo.comarca || {},\n    analise_anterior: analise_anterior,\n    ia_resumo_existente: processo.ia_resumo,\n    chance_sucesso_existente: processo.chance_sucesso_ia\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,220],"id":"b1-process","name":"B1-Process"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_get_tags_and_blocos_for_analise","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_organizacao_id: $json.organizacao_id, p_categoria_id: $json.categoria_id}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2440,220],"id":"b2-http-tags","name":"B2-HTTP-Tags"},{"parameters":{"jsCode":"// B2-PROCESS — Processar tags e blocos\nconst ctx = $('B1-Process').item.json;\nconst result = $('B2-HTTP-Tags').item.json;\n\nlet tags = [];\nlet blocos = [];\nlet categoria_nome = ctx.categoria_nome || 'Geral';\n\nif (result && !result.code) {\n  tags = result.tags || [];\n  blocos = (result.blocos || []).slice(0, 50);\n  categoria_nome = result.categoria_nome || categoria_nome;\n}\n\n// RAG query dinâmica\nconst tagTexts = tags.map(t => t.nome).join(' ');\nconst ragQuery = ([tagTexts, ctx.empresa?.nome || '', ctx.processo?.tipo_processo || '']\n  .filter(Boolean).join(' ') || 'restricao credito negativacao indevida direito consumidor').substring(0, 500);\n\nreturn [{\n  json: {\n    ...ctx,\n    categoria_nome,\n    tags,\n    blocos,\n    total_tags: tags.length,\n    total_blocos: blocos.length,\n    rag_query: ragQuery\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2660,220],"id":"b2-process","name":"B2-Process"},{"parameters":{"method":"POST","url":"https://qdivfairxhdihaqqypgb.supabase.co/rest/v1/rpc/fn_get_playbook_for_context","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkaXZmYWlyeGhkaWhhcXF5cGdiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTA3MzcwOCwiZXhwIjoyMDg2NjQ5NzA4fQ.zu_reCiKzCqLETOWxytYQmez1SIwFRDlOruzsLOpBeY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({p_organizacao_id: $json.organizacao_id, p_scope: 'analise', p_categoria_empresa_id: $json.categoria_id || null}) }}","options":{"continueOnFail":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2880,220],"id":"b3-http-playbook","name":"B3-HTTP-Playbook"},{"parameters":{"jsCode":"// B3-PROCESS — Processar playbook\nconst ctx = $('B2-Process').item.json;\nconst results = $('B3-HTTP-Playbook').item.json;\nconst arr = Array.isArray(results) ? results : (results && !results.code ? [results] : []);\nconst playbook = arr[0] || null;\n\nreturn [{\n  json: {\n    ...ctx,\n    playbook: (playbook && playbook.nome) ? {\n      encontrado: true,\n      nome: playbook.nome,\n      instrucoes: playbook.instrucoes || '',\n      match_level: playbook.match_level\n    } : {\n      encontrado: false,\n      nome: 'Genérico',\n      instrucoes: null,\n      match_level: null\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3100,220],"id":"b3-process","name":"B3-Process"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"check-has-docs","leftValue":"={{ $json._has_docs }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[3660,220],"id":"c1b-if-docs","name":"C1b-HasDocs?"},{"parameters":{"jsCode":"// Recuperar contexto do node anterior ao UPDATE\nreturn [{json: $('B3-Process').item.json}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3440,220],"id":"b4-passctx","name":"B4-PassCtx"},{"parameters":{"jsCode":"// Recuperar contexto - D1 pode não ter rodado (bypass sem docs)\nlet ctx;\ntry {\n  ctx = $('D1-ConsolidarDocs').item.json;\n} catch(e) {\n  // Bypass: sem docs, pegar contexto de B3-Process com campos extras\n  const b3ctx = $('B3-Process').item.json;\n  ctx = {\n    ...b3ctx,\n    docs_extraidos: [],\n    total_docs: 0,\n    qualidade_media: 0\n  };\n}\nreturn [{json: ctx}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4980,220],"id":"d2-passctx","name":"D2-PassCtx"},{"parameters":{"jsCode":"// Recuperar contexto de D5-MontarPacote\nreturn [{json: $('D5-MontarPacote').item.json}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5860,220],"id":"e1-passctx","name":"E1-PassCtx"},{"parameters":{"jsCode":"// D4b — Agregar resultados RAG (fullResponse ou array)\nconst items = $input.all();\n\nlet ragResults = [];\nfor (const item of items) {\n  const j = item.json;\n  // fullResponse: j.body é o array de resultados\n  if (j.body !== undefined) {\n    const body = Array.isArray(j.body) ? j.body : [];\n    ragResults = ragResults.concat(body);\n  } else if (j.id !== undefined) {\n    // Item direto do RAG\n    ragResults.push(j);\n  }\n}\n\n// Retornar sempre 1 item\nreturn [{ json: { _rag_results: ragResults } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4540,220],"id":"d4b-agg-rag","name":"D4b-AggRAG"},{"parameters":{"method":"GET","url":"={{ $json.signedURL.startsWith('http') ? $json.signedURL : 'https://qdivfairxhdihaqqypgb.supabase.co' + $json.signedURL }}","sendHeaders":false,"options":{"response":{"response":{"responseFormat":"file","outputPropertyName":"data"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4095,340],"id":"c3b-download-pdf","name":"C3b-DownloadPDF"}],"connections":{"WH-Analise":{"main":[[{"node":"A1-LogWebhook-INSERT","type":"main","index":0}]]},"A1-LogWebhook-INSERT":{"main":[[{"node":"A2-ValidatePayload","type":"main","index":0}]]},"A2-ValidatePayload":{"main":[[{"node":"A3-PayloadValido?","type":"main","index":0}]]},"A3-PayloadValido?":{"main":[[{"node":"A4-INSERT-olivia_analises","type":"main","index":0}],[{"node":"A-Respond-Error","type":"main","index":0}]]},"A4-INSERT-olivia_analises":{"main":[[{"node":"A-Respond-202","type":"main","index":0},{"node":"B1-Prep","type":"main","index":0}]]},"B4-UPDATE-Classificando":{"main":[[{"node":"B4-PassCtx","type":"main","index":0}]]},"C1-SplitDocs":{"main":[[{"node":"C1b-HasDocs?","type":"main","index":0}]]},"C2-Loop-Docs":{"main":[[{"node":"C3-FetchArquivo","type":"main","index":0}],[{"node":"D1-ConsolidarDocs","type":"main","index":0}]]},"C3-FetchArquivo":{"main":[[{"node":"C3b-DownloadPDF","type":"main","index":0}]]},"C4-ExtractPDF":{"main":[[{"node":"C5-FormatPDF","type":"main","index":0}]]},"C5-FormatPDF":{"main":[[{"node":"C2-Loop-Docs","type":"main","index":0}]]},"D1-ConsolidarDocs":{"main":[[{"node":"D2-UPDATE-50pct","type":"main","index":0}]]},"D2-UPDATE-50pct":{"main":[[{"node":"D2-PassCtx","type":"main","index":0}]]},"D3-GerarEmbedding":{"main":[[{"node":"D4-BuscarRAG","type":"main","index":0}]]},"D4-BuscarRAG":{"main":[[{"node":"D4b-AggRAG","type":"main","index":0}]]},"D5-MontarPacote":{"main":[[{"node":"E1-UPDATE-60pct","type":"main","index":0}]]},"E1-UPDATE-60pct":{"main":[[{"node":"E1-PassCtx","type":"main","index":0}]]},"E2-PrepararInput-Claude":{"main":[[{"node":"E3-Claude-Analise-Sonnet","type":"main","index":0}]]},"E3-Claude-Analise-Sonnet":{"main":[[{"node":"E4-ParseResultado","type":"main","index":0}]]},"E4-ParseResultado":{"main":[[{"node":"F1-PATCH-olivia_analises","type":"main","index":0}]]},"F1-PATCH-olivia_analises":{"main":[[{"node":"F2-UPDATE-processos","type":"main","index":0}]]},"F2-UPDATE-processos":{"main":[[{"node":"F3-UPDATE-100pct","type":"main","index":0}]]},"F3-UPDATE-100pct":{"main":[[{"node":"F4-LogWebhook-UPDATE","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"ErrorHandler","type":"main","index":0}]]},"B1-Prep":{"main":[[{"node":"B1-HTTP-Processo","type":"main","index":0}]]},"B1-HTTP-Processo":{"main":[[{"node":"B1-HTTP-AnaliseAnt","type":"main","index":0}]]},"B1-HTTP-AnaliseAnt":{"main":[[{"node":"B1-Process","type":"main","index":0}]]},"B1-Process":{"main":[[{"node":"B2-HTTP-Tags","type":"main","index":0}]]},"B2-HTTP-Tags":{"main":[[{"node":"B2-Process","type":"main","index":0}]]},"B2-Process":{"main":[[{"node":"B3-HTTP-Playbook","type":"main","index":0}]]},"B3-HTTP-Playbook":{"main":[[{"node":"B3-Process","type":"main","index":0}]]},"B3-Process":{"main":[[{"node":"B4-UPDATE-Classificando","type":"main","index":0}]]},"C1b-HasDocs?":{"main":[[{"node":"C2-Loop-Docs","type":"main","index":0}],[{"node":"D2-UPDATE-50pct","type":"main","index":0}]]},"B4-PassCtx":{"main":[[{"node":"C1-SplitDocs","type":"main","index":0}]]},"D2-PassCtx":{"main":[[{"node":"D3-GerarEmbedding","type":"main","index":0}]]},"E1-PassCtx":{"main":[[{"node":"E2-PrepararInput-Claude","type":"main","index":0}]]},"D4b-AggRAG":{"main":[[{"node":"D5-MontarPacote","type":"main","index":0}]]},"C3b-DownloadPDF":{"main":[[{"node":"C4-ExtractPDF","type":"main","index":0}]]}},"authors":"Christian Paz","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-17T02:34:18.300Z","id":4230,"workflowId":"8ntAvTGMhCfrlfRt","versionId":"fc9401a9-aefd-404b-b0f5-771f4baf5b6c","event":"activated","userId":"928a9878-85e2-4ee8-b61a-45a6f91d7381"}]}}